body
{
  background-color: @body_color;
  color: @text_color;
}

a:link,
a:visited
{
  color: @link_color;
}

a:hover,
a:active
{
  color: @link_hover_color;
}

h1
{
  color: @text_color;
}

h2
{
  color: @title_color;
  border-color: @title_color;
}

h3
{
  color: @lighter_title_color;
}

.banner-title
{
  color: @title_color;
}

.chart-title,
.preview-title
{
  color: @title_color;
}

.nav-box,
.top-box,
.footer,
.horizontal-separator,
.vertical-separator,
.left-sidebar,
.right-sidebar,
.object-in-list,
.info-box-top,
.info-box-bottom,
.cell-selected,
.cell-highlight
{
  border-color: @light_border;
}

table.columns > tbody > tr > td,
table.columns > tbody > tr > th,
.quote-block,
.preview,
.chart,
pre > code,
.form-basic-block,
.abstract,
.cell-non-empty,
.pullquote
{
  border-color: @dark_border;
}

.info-box-top,
.info-box-bottom,
.subdued
{
  color: @darkest_text_color;
}

.cell-highlight
{
  background-color: @darkest_body_color;
}

.cell-selected
{
  background-color: @darker_body_color;
}

.caution,
.warning,
.error
{
  color: @message_box_text_color;
}

.caution a:link, .caution a:visited,
.warning a:link, .warning a:visited,
.error a:link, .error a:visited
{
  color: @message_box_link_color;
}

.graph-foreground
{
  background-color: @title_color;
}

.graph-background
{
}

.highlight
{
  color: @highlight_color;
}

.selected
{
  color: @selected_color;
}

.quote,
.quote-inline,
.quote-block
{
  color: @darker_text_color;
}

.button
{
  background-color: @darker_body_color;
  border-color: @light_border;
  color: @button_text_color;
}

a.button:link,
a.button:visited
{
  color: @button_text_color;
}

.button.selected
{
  background-color: @lighter_body_color;
  border-color: @light_border;
  color: @text_color;
}

.button.disabled
{
  background-color: @medium_body_color;
  border-color: @medium_border;
  color: @darkest_text_color;
}

.button:hover:not(.disabled):not(.selected)
{
  background-color: @lighter_body_color;
}

ul.menu
{
  background-color: @darker_body_color;
  border-color: @light_border;
}

ul.menu .menu-group-title
{
  background-color: @darkest_body_color;
  border-color: @light_border;
}

.menu-item:hover
{
  background-color: @lighter_body_color;
  border-color: @darkest_body_color;
}

.menu-item-description
{
  color: @text_color;
}

.text-control,
.menu-control
{
  background-color: @darker_body_color;
  color: @text_color;
  border-color: @light_border;
}