/* @override http://encodo.com/assets/styles/encodo_3_column_layout.css */

html {
  margin: 0;
	padding: 0;
}

/* General styles */
body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
}
/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 0em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}

/* 3 Column settings */
.threecol {
}
.threecol .colmid {
	right:20%;			/* width of the right column */
}
.threecol .colleft {
	right:60%;			/* width of the middle column */
}
.threecol .col1 {
	width:60%;			/* width of center column content (column width minus padding on either side) */
	left:100%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:20%;			/* Width of left column content (column width minus padding on either side) */
	left:20%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:20%;			/* Width of right column content (column width minus padding on either side) */
	left:80%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}

/* 2 Column (right menu) settings */
.rightmenu {
}
.rightmenu .colleft {
        right:20%;                      /* right column width */
}
.rightmenu .col1 {
        width:80%;                      /* left column content width (left column width minus left and right padding) */
        left:20%;                       /* (right column width) plus (left column left padding) */
}
.rightmenu .col2 {
        width:20%;                      /* right column content width (right column width minus left and right padding) */
        left:20%;                       /* (right column width) plus (left column left and right padding) plus (right column left padding) */
}

/* 2 Column (left menu) settings */
.leftmenu {
}
.leftmenu .colleft {
	right:80%;			/* right column width */
}
.leftmenu .col1 {
	width:80%;			/* right column content width */
	left:100%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:20%;			/* left column content width (column width minus left and right padding) */
	left:0%;			/* (right column left and right padding) plus (left column left padding) */
}

/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
}

  