@import "core-values";
@import "core-mixins";

.left-sidebar
{
  .hairline-bottom-border();
}

.right-sidebar
{
  .hairline-top-border();
}

.top-box
{
  .columns
  {
    > div
    {
      margin-bottom: @standard_spacing;

      .tree,
      .panels
      {
        max-height: 300px;
        overflow-y: auto;
      }
    }
  }
}

@media (min-width: @min-width-for-columns)
{
  .columns
  {
    .flex-display();
    .flex-wrap(wrap);

    > div
    {
      .flex(5);
      margin: 0 @standard_spacing;

      &:first-child
      {
        margin-left: 0;
      }

      &:last-child
      {
        margin-right: 0;
      }

      &.left-sidebar
      {
        .flex(2);
        border: none;
        padding-top: 0;
        margin-left: -@standard_spacing;
        padding-left: @standard_spacing;
        .hairline-right-border();
      }

      &.right-sidebar
      {
        .flex(2);
        border: none;
        padding-top: 0;
        .hairline-left-border();
        padding-right: @standard_spacing;
        margin-right: -@standard_spacing;
      }
    }
  }

  .top-box
  {
    .columns
    {
      > div.left-sidebar
      {
        .flex(3);
      }
    }
  }
}
