@small_spacing: 5px;
@standard_spacing: @small_spacing * 3;
@cell_spacing: 2px;
@button_spacing: @small_spacing * 2;
@inline_bordered_element_spacing: @cell_spacing;
@menu_item_padding: .3em;

@standard_border_radius: 4px;

@minimum_button_width: 2em;
@minimum_button_height: 2em;
@button_padding: .4em;

@calendar_box_width: (@page_max_width - @standard_spacing - (8 * @hairline_border_width)) / 7;
@calendar_box_height: 5em;

@ul_indent: 1.1em;
@ol_indent: 1.3em;
@li_indent: .5em;
@dd_indent: @ul_indent + @li_indent;

@menu_max_width: 200px;

@text_flow_line_height: 160%;
@compressed_text_flow_line_height: 130%;
@info_box_line_height: @text_flow_line_height;
@text_flow_column_width: 50em;

@page_max_width: 100%;
@page_min_width: 0%;

@background_color: white;
@text_color: #333;
@background_url: '';

@accent_background_color: darken(@background_color, 9%);

@dimmer_text_color: mix(@text_color, @background_color, 65%);
@dimmest_text_color: mix(@text_color, @background_color, 45%);

@link_color: blue;
@dimmer_link_color: mix(@link_color, @background_color, 60%);
@link_hover_color: saturate(lighten(@link_color, 20%), 20%);

@title_color: @text_color;
@h1_color: @title_color;
@h2_color: @title_color;
@h3_color: spin(@title_color, 20%);
@h4_color: @h3_color;
@quote_text_color: @dimmer_text_color;

@banner_title_color: @title_color;
@header_text_color: @text_color;
@footer_text_color: @text_color;
@header_background_color: transparent;
@footer_background_color: transparent;

@banner_logo_width: 242px;
@banner_logo_height: 74px;

@header_link_color: @link_color;
@header_link_hover_color: saturate(lighten(@header_link_color, 20%), 20%);
@header_background_url: '';
@footer_link_color: @link_color;
@footer_link_hover_color: saturate(lighten(@footer_link_color, 20%), 20%);;
@footer_background_url: @header_background_url;

@hairline_border_width: 1px;
@thin_border_width: 3px;
@thick_border_width: 6px;

@standard_border_color: mix(@text_color, @background_color, 30%);
@medium_border_color: darken(@standard_border_color, 10%);
@accent_border_color: darken(@background_color, 5%);

@code_border_color: @standard_border_color;

@code_text_color: @text_color;
@code_comment_color: @dimmer_text_color;
@code_symbol_color: @code_text_color;
@code_keyword_color: darken(@highlighted_text_color, 10%);
@code_tag_color: @code_keyword_color;
@code_tag_name_color: saturate(@code_tag_color, 20%);
@code_attribute_name_color: darken(@code_tag_color, 10%);
@code_attribute_value_color: mix(@code_attribute_name_color, @standard_border_color, 30%);

@inline_code_border_width: 1px;
@inline_code_border_style: solid;
@inline_code_border_color: @control_border_color;
@inline_code_background_color: @control_background_color;
@inline_code_background_url: @control_background_url;
@inline_code_spacing: @inline_bordered_element_spacing;

@highlighted_text_color: green;
@selected_text_color: @text_color;

@control_text_color: mix(@text_color, @background_color, 75%);
@control_background_color: darken(@background_color, 6%);
@control_border_color: @standard_border_color;
@control_background_url: '';

@cell_selected_background_color: @control_background_color;
@cell_highlight_background_color: @accent_background_color;
@cell_selected_background_url: '';
@cell_highlight_background_url: '';
@cell_highlight_text_color: @text_color;
@cell_selected_text_color: @text_color;

@edit_control_text_color: @control_text_color;
@edit_control_background_color: @control_background_color;
@edit_control_background_url: @control_background_url;

@selected_control_text_color: @selected_text_color;
@selected_control_background_color: @control_hover_background_color;
@selected_control_background_url: @control_background_url;

@disabled_control_text_color: @dimmest_text_color;
@disabled_control_background_color: @accent_border_color;
@disabled_control_border_color: mix(@dimmer_text_color, @background_color, 30%);
@disabled_control_background_url: @control_background_url;

@control_hover_background_color: lighten(@background_color, 3%);
@control_hover_background_url: @background_url;
@control_hover_border_color: @standard_border_color;

@menu_background_color: @control_background_color;
@menu_border_color: @control_border_color;
@menu_background_url: @background_url;
@menu_title_background_color: @accent_background_color;
@menu_title_background_url: @control_background_url;

@message_box_text_color: #765;
@message_box_link_color: #66C;

@error_border_color: #A00000;
@error_background_color: #FFEAEA;
@warning_border_color: #A06000;
@warning_background_color: #ffd08d;
@caution_border_color: #A0A000;
@caution_background_color: #FFFFCC;

@graph_foreground_url: @selected_control_background_url;
@graph_background_url: '';
@graph_foreground_color: @title_color;
@graph_background_color: transparent;

@preview_text_color: @text_color;
@preview_background_url: '';
@preview_background_color: transparent;

@chart_text_color: @text_color;
@chart_background_url: '';
@chart_background_color: transparent;

@form_text_color: @text_color;
@form_background_url: '';
@form_background_color: transparent;

@grid_tiny_tile_width: 200px;
@grid_small_tile_width: 300px;
@grid_standard_tile_width: 450px;
@grid_large_tile_width: 600px;

@min-width-for-columns: 600px;

@body_font_size: 16px;

@standard_font_size: 100%;
@h1_font_size: 200%;
@h2_font_size: 167%;
@h3_font_size: 140%;
@h4_font_size: 100%;
@detail_font_size: 85%;
@micro_font_size: 75%;

@select_control_height: 4ex;
@button_icon_vertical_offset: .25ex;
