html,
body,
.page
{
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.page-body
{
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top:130px;
  left:15px;
  right:15px;
  bottom:5px;
}

.banner
{
  padding-top: 15px;
}

.footer
{
  display: none;
}