@body_font_size: 12pt;
@detail_font_size: 10pt;
@micro_font_size: 9pt;

@h1_font_size: 24pt;
@h2_font_size: 20pt;
@h3_font_size: 18pt;
@h4_font_size: 12pt;

@select_control_height: 35px;

@icon_thirty_two_caption_offset: 8px;
@icon_twenty_caption_offset: 2px;
@icon_sixteen_caption_offset: 0;

@button_icon_vertical_offset: 2px;
