@body_font_size: 16px;

@h1_font_size: 200%;
@h2_font_size: 167%;
@h3_font_size: 140%;
@h4_font_size: 100%;

@detail_font_size: 85%;
@micro_font_size: 75%;

@select_control_height: @body_font_size * 2.25;
@button_icon_vertical_offset: 2px;
