@import "core-values";

@medium-tall-height: 20em;
@tall-height: 30em;
@medium-tall-preview-height: 30em;
@tall-preview-height: 40em;
@core-label-area-width: 120px;
@label-area-width: @core-label-area-width + @standard_spacing;