.basic-form.ltr fieldset {
  margin-left: 215px;
}
.basic-form.ltr fieldset legend {
  float: left;
  width: 200px;
  margin-left: -215px;
  margin-top: .15em;
}
.basic-form.ltr fieldset fieldset {
  margin-left: 0;
}
.basic-form.ltr .hint {
  margin-left: 0;
}
.basic-form.ltr > p {
  /* Applies to form rows appearing directly in a form (not in a fieldset). */
  margin-left: 215px;
}
.basic-form.ltr > .form-row,
.basic-form.ltr > .group,
.basic-form.ltr > .hint {
  margin-left: 215px;
}
.basic-form.ltr .form-row .form-row {
  margin-left: 0;
}
.basic-form.ltr .form-row .button:first-child {
  margin-left: -5px;
}
.basic-form.ltr .help {
  float: right;
}
.basic-form.ltr label + input[type=text],
.basic-form.ltr label + input[type=password],
.basic-form.ltr label + input[type=file],
.basic-form.ltr label + textarea {
  margin-top: -0.3em;
}
.basic-form.ltr label:first-child {
  float: left;
  width: 200px;
  margin-left: -215px;
}
.basic-form.ltr.left .required label:after {
  content: '*';
}
.basic-form.ltr.right fieldset legend {
  text-align: right;
}
.basic-form.ltr.right label:first-child {
  text-align: right;
}
.basic-form.ltr.right label .required label:before {
  content: '*';
}
.style-controls .basic-form .ltr .form-row button:first-child {
  margin-left: -5px;
}
