@import "core-values";
@import "core-mixins";
@import "form-values";

.style-controls
{
  input[type="radio"],
  input[type="checkbox"]
  {
    vertical-align: middle;
  }

  button,
  input[type=submit],
  input[type=button],
  input[type=text],
  input[type=password],
  select,
  textarea
  {
    font-family: inherit;
    font-size: inherit;
  }

  input[type=text],
  input[type=password],
  select,
  textarea
  {
    line-height: inherit;
    background-color: @edit_control_background_color;
    .repeated-background(@edit_control_background_url);
    border-color: @control_border_color;
    border-radius: @standard_border_radius;
    padding: @standard_border_radius;
  }
}

.basic-form
{
  line-height: @text_flow_line_height;
  color: @form_text_color;
  background-color: @form_background_color;
  .repeated-background(@form_background_url);

  fieldset
  {
    border: none;
    margin: @standard_spacing 0;
    padding: 0;

    &.toggle
    {
      .content
      {
        margin-top: @standard_spacing;
      }

      span.toggle
      {
        float: left;
        margin-right: @small_spacing;

        & + .text
        {
          display: block;
          margin-left: 13px + @small_spacing;
        }
      }
    }

    fieldset
    {
      &:last-child
      {
        margin: 0;
      }
    }
  }

  textarea,
  select,
  input[type=password],
  input[type=text]
  {
    width: 100%;
  }

  input[type=checkbox],
  input[type=radio]
  {
    vertical-align: baseline;
    margin-left: 0;
  }

  .input + .input,
  .input + .button,
  .input + .buttons,
  .input + input,
  .input + select,
  .input + button,
  input + .input,
  input + .button,
  input + .buttons,
  input + input,
  input + select,
  input + button,
  select + .input,
  select + .button,
  select + .buttons,
  select + select,
  select + input,
  select + button,
  button + input,
  button + select,
  button + .input,
  .button + .input,
  .button + input,
  .button + select,
  .buttons + .input,
  .buttons + input,
  .buttons + select
  {
    margin-left: @small_spacing;
  }

  .help
  {
    p:first-child
    {
      margin-top: 0;
    }

    p:last-child
    {
      margin-bottom: 0;
    }
  }

  .hint,
  > .form-row,
  fieldset .hint,
  fieldset > .form-row
  {
    display: block;
  }

  .form-row
  {
    margin-top: @small_spacing;
    margin-bottom: @small_spacing;
  }

  .form-row
  {
    label:first-child
    {
      & + input[type=radio],
      & + input[type=checkbox]
      {
        margin-right: @small_spacing;
        margin-top: @small_spacing + 1;

        & + label
        {
          margin-left: @small_spacing;
        }
      }
    }

    input[type=radio],
    input[type=checkbox]
    {
      margin-top: @small_spacing + 1;

      &:first-child
      {
        float: left;
        margin-right: @small_spacing;
      }
    }

    &.multiple
    {
      input[type=radio],
      input[type=checkbox]
      {
        + label
        {
          + input[type=radio],
          + input[type=checkbox]
          {
            margin-left: @standard_spacing;
          }
        }
      }
    }

    &.text-line
    {
      input[type=radio]:first-child,
      input[type=checkbox]:first-child
      {
        margin-top: @small_spacing + @standard_border_radius + @hairline_border_width + 4; // magic number
      }
    }

    label
    {
      .description
      {
        display: block;
        margin-left: @standard_spacing + @small_spacing + 2;  // magic number based on width of radio button
        margin-bottom: 0;
      }
    }

    .error,
    .warning,
    .caution
    {
      margin-right: @small_spacing;
    }
  }

  .browse
  {
    white-space: nowrap;
    input
    {
      width: 200px;
    }
  }

  .search
  {
    white-space: nowrap;
    input
    {
      width: 120px;
    }
  }

  input[type=text],
  input[type=password],
  input[type=file],
  textarea,
  select
  {
    &.tiny
    {
      width: 3em;
    }

    &.tiny-small
    {
      width: 6em;
    }

    &.small
    {
      width: 10em;
    }

    &.small-medium
    {
      width: 15em;
    }

    &.medium
    {
      width: 20em;
    }

    &.short
    {
      height: 5em;
    }

    &.short-medium
    {
      height: 10em;
    }

    &.medium-height
    {
      height: 15em;
    }

    &.medium-tall
    {
      height: @medium-tall-height;
    }

    &.tall
    {
      height: @tall-height;
    }
  }

  .help
  {
    width: @label-area-width;
    height: auto;
    margin-right: @standard_spacing;
  }
}

.button,
button
{
  display: inline-block;
  min-width: @minimum_button_width;
  min-height: @minimum_button_height;
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
}

.button,
.style-controls button
{
  .border-box();
  padding: .4em;
  text-decoration: none;
  cursor: pointer;
  border: @hairline_border_width solid @control_border_color;
  border-radius: @standard_border_radius;
  line-height: normal;
  text-align: center;
  background-color: @control_background_color;
  .repeated-background(@control_background_url);
  color: @control_text_color;
}

a.button
{
  &:link,
  &:visited
  {
    color: @control_text_color;
    text-decoration: none;
  }
}

.button:hover:not(.disabled):not(.selected),
.style-controls button:hover:not(.disabled):not(.selected)
{
  background-color: @control_hover_background_color;
  .repeated-background(@control_hover_background_url);
  border-color: @control_hover_border_color;
}

.button + .button,
button + button,
.button + button,
button + .button
{
  margin-left: @button_spacing;
}

.input
{
  display: inline-block;
}

input,
textarea,
select
{
  margin-left: 0;
  .border-box();
}

.button.disabled,
.style-controls button.disabled
{
  cursor: default;
  background-color: @disabled_control_background_color;
  .repeated-background(@disabled_control_background_url);
  border-color: @disabled_control_border_color;
  color: @disabled_control_text_color;
}

.button.selected,
.style-controls button.selected
{
  cursor: default;
  background-color: @selected_control_background_color;
  .repeated-background(@selected_control_background_url);
  border-color: @control_border_color;
  color: @selected_control_text_color;
}

.button .icon,
.style-controls button .icon
{
  display: inline-block;
  .border-box();
  position: relative;
}

.style-controls .basic-form
{
  .form-row
  {
    > button:first-child,
    > div > button:first-child,
    > span > button:first-child
    {
      margin-left: -@standard_border_radius - @hairline_border_width;
    }
  }
}

.form-with-preview
{
  .flex-display();

  .basic-form
  {
    .flex();
  }

  .inline-preview-block
  {
    .flex();
    display: none;
  }

  .inline-preview
  {
    .flex();
    overflow: auto;
  }

  .tall
  {
    height: @tall-preview-height;
  }

  .medium-tall
  {
    height: @medium-tall-preview-height
  }
}
