.basic-form.top fieldset {
  padding-right: 0px;
  margin-right: 0px;
}
.basic-form.top fieldset fieldset {
  border-right-width: 0px;
}
.basic-form.top .form-row .button:first-child {
  margin-left: -5px;
}
.basic-form.top label:first-child {
  display: block;
  margin-bottom: 5px;
}
.basic-form.top .help {
  float: right;
}
.basic-form.top .required label:after {
  content: '*';
}
