@import "core-values";

.basic-form
{
  fieldset
  {
    padding-right: 0;
    margin-right: 0;

    fieldset
    {
      border-right-width: 0;
    }
  }

  textarea,
  select,
  input[type=password],
  input[type=text]
  {
    &:not([class])
    {
      // Move these controls out so that the text they contain lines up with standard text flows
      margin-left: -@standard_border_radius - @hairline_border_width;
    }
  }

  .form-row
  {
    .button:first-child
    {
      margin-left: -@standard_border_radius - @hairline_border_width;
    }
  }

  label:first-child
  {
    display: block;
    margin-bottom: @small_spacing;
  }

  select,
  input
  {
    + label
    {
      margin-left: @small_spacing;
    }
  }

  .help
  {
    float: right;
  }

  .required label:after
  {
    content: '*';
  }
}