@import "core-values";
@import "core-mixins";

.grid
{
  .border-box();
  margin: @standard_spacing 0;
  .flex-display();
  .flex-wrap(wrap);

  > div
  {
    .border-box();
    .flex-basis(auto);
    .flex-grow(1);

    vertical-align: top;

    margin-right: 2 * @standard_spacing;
    margin-bottom: 2 * @standard_spacing;
  }

  > div
  {
    .set-responsive-columns(@grid_standard_tile_width, 2, 3);
  }

  &.tiny-tiles
  {
    > div
    {
      .set-responsive-columns(@grid_tiny_tile_width, 4, 6);
    }
  }

  &.small-tiles
  {
    > div
    {
      .set-responsive-columns(@grid_small_tile_width, 3, 4);
    }
  }

  &.large-tiles
  {
    > div
    {
      .set-responsive-columns(@grid_large_tile_width, 1, 2);
    }
  }

  &.content-sized-tiles
  {
    > div
    {
      width: auto;

      margin-right: @small_spacing;
      margin-bottom: @small_spacing;
    }
  }

  &.full-width
  {
    > div
    {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  > div
  {
    &.full-width
    {
      width: 100%;
    }
  }
}

.page-break
{
  page-break-before: always;
}