@import "core-values";
@import "core-mixins";

.grid
{
  .border-box();
  margin: @standard_spacing 0;

  > div
  {
    .border-box();
    display: inline-block;
    vertical-align: top;
    width: @grid-standard-tile-width;

    &:nth-child(2)
    {
      padding-left: @standard_spacing;
    }

    + div
    {
      padding-right: @standard_spacing;
      padding-bottom: @standard_spacing;
    }
  }

  &.one-column
  {
    > div
    {
      width: 100%;
      padding-right: 0;
    }
  }

  &.small-tiles
  {
    > div
    {
      width: @grid-small-tile-width;
    }
  }

  &.large-tiles
  {
    > div
    {
      width: @grid-large-tile-width;
    }
  }

  &.content-sized-tiles
  {
    > div
    {
      width: auto;

      &:nth-child(2)
      {
        padding-left: @small_spacing;
      }

      + div
      {
        padding-right: @small_spacing;
        padding-bottom: @small_spacing;
      }
    }
  }
}

.page-break
{
  page-break-before: always;
}
