@import "core-values";

.minimal
{
  h1
  {
    font-size: @standard_font_size;
    margin-right: 5em;
  }

  .taken-on
  {
    margin: 0;
    font-size: @micro_font_size;
    position: absolute;
    top: @standard_spacing;
    right: @standard_spacing;
  }

  .minimal-commands
  {
    margin-top: 0;
    margin-bottom: @small_spacing;
  }
}
