@import "core-values";

.minimal
{
  h1
  {
    font-size: @body_font_size;
    margin-right: 5em;
  }

  .taken-on
  {
    margin: 0;
    font-size: @micro_font_size;
    position: absolute;
    top: @standard_spacing;
    right: @standard_spacing;
  }

  .minimal-commands
  {
    margin-bottom: @small_spacing;
    margin-right: @small_spacing;
    margin-top: -@small_spacing;

    .menu-trigger .button
    {
      min-width: auto;
      min-height: auto;
      line-height: 0;
      padding: @button_padding / 2;
    }
  }

  .minimal-commands-content
  {
    margin-left: @minimum_button_width - @button_padding;
  }
}
