@import "core-values";
@import "core-mixins";

.auto-content-block
{
  display: block;
}

.auto-content-inline
{
  display: block;
  line-height: 0;
}

.auto-content-caption
{
  padding-top: @small_spacing;
  display: block;
}

.footnote-number
{
  vertical-align: super;
  font-size: 75%;
  line-height: 1em;
}

.footnote-return
{

}

.footnote-reference
{
  display: block;
  margin-top: @small_spacing;
  margin-left: 1.8em;
  margin-bottom: @small_spacing;
}

.footnote-reference .footnote-number:first-child
{
  float: left;
  vertical-align: baseline;
  font-size: 100%;
  line-height: 150%;
  margin-left: -2em;
  margin-top: .3em;
}

.abstract
{
  border-width: @hairline_border_width 0;
  border-color: @standard_border_color;
  border-style: solid;
  padding: @standard_spacing 0;
}

.complete-text-link
{
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
}
