@import "core-values";
@import "core-mixins";

body
{
  margin: 0;
  padding: 0;
  background-color: @background_color;
  color: @text_color;
  .repeated-background(@background_url);

  .page
  {
    max-width: @page_max_width;
    min-width: @page_min_width;

    .banner
    {
      padding-top: @standard_spacing;
      padding-left: @standard_spacing;
      padding-right: @standard_spacing;
      margin-right: -@standard_spacing;
      background-color: @banner_background_color;
      .repeated-background(@banner_background_url);
      color: @banner_text_color;

      a:link, a:visited
      {
        color: @banner_link_color;
      }

      a:hover, a:active
      {
        color: @banner_link_hover_color;
      }

      .banner-header
      {
        position: relative;

        .banner-logo
        {
          background-repeat: no-repeat;
          width: @banner_logo_width;
          height: @banner_logo_height;

          a
          {
            display: block;
            height: 100%;
          }
        }

        .banner-content
        {
          display: inline-block;
          position: absolute;
          right: 0;
          bottom: 0;
          text-align: right;

          .banner-title
          {
            display: inline-block;
            color: @banner_title_color;
          }

          .icon-container
          {
            margin-right: @standard_spacing;

            .banner-icon
            {
              width: 50px;
              height: 50px;
              display: inline-block;
              position: absolute;
              right: 0;
              bottom: 10px;
              margin-left: @standard_spacing;
              background-repeat: no-repeat;
              margin-right: @standard_spacing;
            }

            .banner-title
            {
              margin-right: 65px;
            }

            .login-status
            {
              margin-right: 65px;
              margin-top: 10px;
            }
          }
        }

        .banner-content when not (@banner_background_color = transparent)
        {
          margin-right: @standard_spacing;
        }
      }

      .nav-box
      {
        margin-top: @standard_spacing;
        margin-left: -@standard_spacing;
        padding-left: @standard_spacing;
        padding-bottom: @small_spacing;
        border-bottom: @hairline_border_width solid @standard_border_color;
        line-height: @text_flow_line_height;
      }
    }

    .page-body
    {
      padding: 0 @standard_spacing;
      margin-bottom: @standard_spacing;
      clear: both;

      .top-box
      {
        border-bottom: @hairline_border_width solid @standard_border_color;
        margin-bottom: @standard_spacing;
        margin-right: -@standard_spacing;
        margin-left: -@standard_spacing;
        padding-left: @standard_spacing;
        padding-right: @standard_spacing;
      }

      .main-box
      {
        margin-left: -@standard_spacing;
        margin-right: -@standard_spacing;
        padding-left: @standard_spacing;
        padding-right: @standard_spacing;

        p,
        div
        {
          &:last-child
          {
            margin-bottom: 0;
          }
        }
      }
    }

    .footer
    {
      clear: both;
      padding-left: @standard_spacing;
      margin-top: @standard_spacing;
      border-top: @hairline_border_width solid @standard_border_color;
      padding-top: @small_spacing;
      background-color: @footer_background_color;
      .repeated-background(@footer_background_url);
      color: @footer_text_color;

      a:link, a:visited
      {
        color: @footer_link_color;
      }

      a:hover, a:active
      {
        color: @footer_link_hover_color;
      }

      .footer-data
      {
        display: block;
      }

      .footer-data + .footer-data
      {
        margin-top: @small_spacing;
      }
    }

    .footer when not (@footer_background_color = transparent)
    {
      padding-bottom: @small_spacing;
    }
  }

  .page when not (@footer_background_color = transparent)
  {
    margin-bottom: 0;
  }
}
