@import "core-values";
@import "core-mixins";

body
{
  margin: 0;
  padding: 0;
  background-color: @background_color;
  color: @text_color;
  .repeated-background(@background_url);

  .page
  {
    max-width: @page_max_width;
    min-width: @page_min_width;

    .header
    {
      padding-top: @standard_spacing;
      background-color: @header_background_color;
      .repeated-background(@header_background_url);
      color: @header_text_color;

      a:link, a:visited
      {
        color: @header_link_color;
      }

      a:hover, a:active
      {
        color: @header_link_hover_color;
      }

      .banner
      {
        .logo
        {
          display: inline-block;
          margin-left: @standard_spacing;
          width: @banner_logo_width;
          height: @banner_logo_height;
          background-repeat: no-repeat;

          a
          {
            display: block;
            height: 100%;
          }
        }

        .content
        {
          display: inline-block;
          float: right;
          text-align: right;
          margin-right: @standard_spacing;

          .title
          {
            display: inline-block;
            min-height: 50px;
            color: @banner_title_color;
          }
        }
      }

      .nav-box
      {
        .regular-x-spacing();
        .clear-both();
        margin-top: @standard_spacing;
        padding-bottom: @small_spacing;
        border-bottom: @hairline_border_width solid @standard_border_color;
        line-height: @text_flow_line_height;

        .menu-items
        {
          padding-left: @standard_spacing;
          padding-right: @standard_spacing;
        }
      }

      &:after
      {
        content: "";
        display: block;
        clear: both;
      }
    }

    .page-body
    {
      padding: 0 @standard_spacing;
      margin-bottom: @standard_spacing;
      clear: both;

      .top-box
      {
        .non-intrusive-x-spacing();
        border-bottom: @hairline_border_width solid @standard_border_color;
        margin-bottom: @standard_spacing;
      }

      .main-box
      {
        .non-intrusive-x-spacing();

        p,
        div
        {
          &:last-child
          {
            margin-bottom: 0;
          }
        }
      }
    }

    .footer
    {
      clear: both;
      margin-top: @standard_spacing;
      padding-top: @small_spacing;
      padding-bottom: @small_spacing;
      border-top: @hairline_border_width solid @standard_border_color;
      background-color: @footer_background_color;
      .repeated-background(@footer_background_url);
      color: @footer_text_color;

      a:link, a:visited
      {
        color: @footer_link_color;
      }

      a:hover, a:active
      {
        color: @footer_link_hover_color;
      }

      .footer-data
      {
        display: block;
        padding-left: @standard_spacing;
        padding-right: @standard_spacing;
      }

      .footer-data + .footer-data
      {
        margin-top: @small_spacing;
      }
    }
  }
}
