@import "core-mixins";

.viewport, .full-screen-edit
{
  .flex-display();
  height: 100%;

  body,
  .style-controls,
  .page,
  .main-box
  {
    .flex-display-and-flex();
    min-height: 0;
    min-width: 0;
  }

  .page
  {
    .flex-direction(column);

    .header
    {
      padding-top: 0;

      .nav-box
      {
        margin-top: @small_spacing;
      }
    }

    .page-body
    {
      .flex-display-and-flex();
      .flex-direction(column);
      min-height: 0;
      min-width: 0;
      margin-bottom: @small_spacing;

      .columns
      {
        .flex-display-and-flex();
        min-height: 0;
        min-width: 0;

        .frame-content
        {
          .flex-display-and-flex(5);

          margin-left: -@standard_spacing;  // Remove padding because the document in the iframe adds it as well

          iframe
          {
            .flex(1);
          }
        }

        .left-sidebar
        {
          .flex-display-and-flex(2);
          .flex-direction(column);
          min-height: 0;
          min-width: 0;
          margin-right: @standard_spacing;

          .tree
          {
            overflow: auto;
            .flex();
          }
        }
      }

      .form-content
      {
        .flex-display-and-flex();

        form
        {
          .flex-display-and-flex();

          > div
          {
            .flex-display-and-flex();

            .form-with-preview
            {
              .flex-display-and-flex();

              .basic-form
              {
                .flex-display-and-flex();
                .flex-direction(column);
                min-height: 0;
                min-width: 0;

                > div:nth-child(2)
                {
                  .flex-display-and-flex();
                  .flex-direction(column);
                  min-height: 0;
                  min-width: 0;

                  textarea
                  {
                    .flex();
                  }
                }

                > .full-screen-optional
                {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.full-screen-edit
{
  .banner,
  .top-box,
  .footer
  {
    display: none;
  }
}