@import "https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700";

.log-box
{
  margin: 15px 0;
  line-height: normal;
}

.log-box code
{
  font-family: "Anonymous Pro", "Courier New", Courier, mono, monospace;
  white-space: nowrap;
}

.log-block-title
{
	font-weight: bold;
	font-size: 125%;
}

.log-block
{
  margin: 1em 1.5em;
  border: 1px dotted #999999;
  border-right: 0em;
}

.log-msg-channel
{}

.log-msg-date
{}

.log-msg-type
{}

.log-debug-info
{
  color: #444444;
}

.log-debug-warning
{
  font-weight: bold;
  color: #CC9966;
}

.log-error
{
  font-weight: bold;
  color: red;
}

.log-info
{
  color: black;
}

.log-warning
{
  font-weight: bold;
  color: #FF6600;
}

.log-start, .log-finish
{
  font-size: 125%;
  font-weight: bold;
}
