@import "../theme-base-dark";

@background_color: black;
@text_color: white;
@header_background_color: #222;
@footer_background_color: @header_background_color;
@title_color: #ff8d46;
@link_color: #90be5a;
@code_text_color: #a98ebd;
@code_border_color: @code_text_color;
@highlighted_text_color: #6ca7ff;
@selected_text_color: #fffb8b;
