@import "theme-base";

@background_color: #EEE;
@header_background_color: #DDD;
@footer_background_color: @header_background_color;
@text_color: #333;
@title_color: #666;
@link_color: #06C;
@highlighted_text_color: #0A0;
@selected_text_color: #5088ff;