@import "theme-base-dark";

@background_color: black;
@text_color: white;
@title_color: #F60;
@banner_title_color: #F90;
@link_color: #F93;
@highlighted_text_color: #FF0;
@selected_text_color: @title_color;

body
{
  background: @background_color url(halloween/halloween_bg.jpg) no-repeat fixed center center;
}