@import "theme-base";

@background_color: #FDF8E5;
@text_color: #554433;
@title_color: @text_color;
@banner_title_color: @background_color;
@banner_background_color: #BBAA99;
@footer_background_color: @banner_background_color;
@accent_border_color: lighten(@text_color, 30%);
@link_color: #5579C4;
@highlighted_text_color: #449157;
@selected_text_color: @title_color;
@selected_control_text_color: @background_color;
@control_text_color: @text_color;
@edit_control_text_color: @text_color;
@banner_link_color: darken(saturate(@background_color, 30%), 5%);
@footer_link_color: @banner_link_color;

@background_url: 'hochzeit/milkweed_paper.jpg';
@selected_control_background_url: 'hochzeit/fossil_paper.jpg';
@banner_background_url: 'hochzeit/fossil_paper.jpg';
@control_background_url: 'hochzeit/fossil_paper_light.jpg';
@cell_selected_background_url: @control_background_url;
