@import "theme-base";

@background_color: white;
@standard_border_color: #8aabca;
@accent_border_color: @title_color;
@text_color: #333;
@title_color: #4A8CCA;
@link_color: #3477B1;
@highlighted_text_color: #0A0;
@control_background_color: #F8F8F8;
@edit_control_background_color: @background_color;
@selected_text_color: @h4_color;
@selected_control_background_color: @title_color;
@selected_control_text_color: @background_color;
@disabled_control_background_color: @background_color;
@menu_title_background_color: #F0F0F0;
@inline_code_border_color: @disabled_control_border_color;
