@import "theme-base-dark";

@title_color: #79cc36;
@banner_title_color: @text_color;
@h1_color: #ffc31c;
@h3_color: #ffc31c;
@link_color: #05aae5;

@code_text_color: #7d9cd1;
@highlighted_text_color: #c8abff;
@selected_text_color: @title_color;