@import "theme-base";

@background_color: #544332;
@text_color: mix(white, @background_color, 80%);
@title_color: #bc561f;
@link_color: #CBA;
@highlighted_text_color: #b1c22d;
@selected_text_color: #ffc63f;