@import "../theme-base";

@background_color: #F8F8F8;
@text_color: #222;
@title_color: @text_color;
@link_color: #3093dc;
@link_hover_color: #06C;
@highlighted_text_color: #0A0;
@selected_text_color: #366dc8;
@edit_control_background_color: white;
@graph_foreground_url: 'osx/graph_full.png';
@background_url: 'osx/dialog_light.gif';
@cell_highlight_background_color: transparent;
@cell_selected_background_color: transparent;
@cell_selected_background_url: 'osx/5_percent_black.png';
@cell_highlight_background_url: 'osx/10_percent_black.png';
@chart_background_url: 'osx/5_percent_black.png';
@preview_background_url: 'osx/5_percent_black.png';
@form_background_url: 'osx/5_percent_black.png';

.chart,
.preview
{
  .extruded_border(1px, white);
}

.basic-form
{
  .engraved_border(1px, white, #AAA);
  padding: @small_spacing;
}

.style-controls
{
  input[type=password],
  input[type=text],
  select,
  textarea
  {
    .engraved_border(1px, white);
  }
}

.menu
{
  opacity: .85;
}
