@import "theme-base";

@background_color: #CCC;
@text_color: #222;
@title_color: @text_color;
@link_color: white;
@link_hover_color: #06C;
@highlighted_text_color: #C8F39C;
@selected_text_color: #366dc8;
@edit_control_background_color: white;
@background_url: 'osx/os_x_app_background.png';
@cell_highlight_background_url: 'osx/5_percent_black.png';
@cell_selected_background_url: 'osx/10_percent_black.png';
@graph_foreground_url: 'osx/graph_full.png';
@form_background_url: 'osx/5_percent_black.png';

.chart,
.preview
{
  .extruded_border(2px, #888);
}

.basic-form
{
  .engraved_border(2px, #888);
  padding: @small_spacing;
}

.style-controls
{
  input[type=password],
  input[type=text],
  select,
  textarea
  {
    .engraved_border;
  }
}
