@import "theme-base";

@light_green: #9C6;

@background_color: #294a83;
@text_color: #DDD;
@title_color: @light_green;
@link_color: #4C9CD9;
@highlighted_text_color: yellow;
@selected_text_color: @light_green;
