@import "theme-base";

@background_color: #4A525A;
@text_color: #CCC;
@title_color: #a1c9ff;
@link_color: white;
@link_hover_color: #fcff4e;
@highlighted_text_color: #8C8;
@selected_text_color: #a1c9ff;