@import "theme-base";

@background_color: white;
@link_hover_color: red;
@edit_control_background_color: @background_color;

a:link
{
  color: blue;
  text-decoration: underline;
}

a:visited
{
  color: purple;
  text-decoration: underline;
}