@background_color: black;
@accent_background_color: lighten(@background_color, 12%);

@text_color: white;
@dimmer_text_color: darken(@text_color, 20%);
@dimmest_text_color: darken(@text_color, 30%);

@link_color: blue;
@dimmer_link_color: lighten(@link_color, 15%);

@standard_border_color: lighten(@background_color, 40%);
@medium_border_color: lighten(@standard_border_color, 10%);
@accent_border_color: lighten(@standard_border_color, 20%);

@control_background_color: lighten(@background_color, 8%);

@disabled_control_background_color: lighten(@background_color, 6%);

@control_hover_background_color: lighten(@background_color, 15%);
