<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<TITLE>&aelig;stats  -  t e a m  map  stats</TITLE>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="TEXT/HTML; CHARSET=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="../aestats.css">
</HEAD>
<BODY>

</head>
	<body>
		<div class="page-body">
			<div class="nav-bar">
				<a href="../AEstats.html">intro</a><br>
				<a href="../AEstatsRanking.html">dm rank</a><br>
				<a href="../AEstatsTeam.html">team rank</a><br>
				<a href="../AEstatsBuddy.html">buddy stats</a><br>
				<a href="../AEstatsBestOfs.html">best of</a><br>
				<a href="../AEstatsGlobal.html">global</a><br>
				<a href="../AEstatsRankMatrix.html">rank matrix</a><br>
				<a href="../AEstatsDiffMatrix.html">diff matrix</a><br>
				<a href="../AEstatsHelp.html">help</a><br>
				<a href="../AEstatsFAQ.html">F.A.Q.</a><br>
				<a href="http://www.planetquake.com/aeons/aestats" target="_new">&aelig;s site</a>
        <div class="sub-menu-title">Team Statistics for </div>
        <div class="sub-menu">
					...Team <a href="#Overview">Overview</a> F, D , S, &amp;E Usage<br>
					...Team <a href="#WeaponUsage">Weapon usage</a> F/D<br>
					...Team <a href="#Events">Events / Scores</a><br>
					...Team <a href="#Players">player</a> stats<br>
				</div>
			</div>

			<h1 class="server-title">
<!--AEstats serverName; -->
			</h1>

			<div class="notes">
				<span class="field">Ranking</span> last updated on
				<span class="kw">
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
				</span>
			</div>

			<h2>
<!--AEstats MapName;-->
			</h2>

      <h3>
				Map N&deg; <span class="kw">
<!--AEstats MapNumber;-->
				</span>
				of <span class="kw">
<!--AEstats TotalNumberOfMaps;-->
				</span>
			</h3>

			<p>The map was started on <span class="kw">
<!--AEstats MapStartTime;-->
				</span>
				and was up for <span class="kw">
<!--AEstats MapUpTime;-->
	      </span></p>

      <p>This page sums up all the happenings on this map. The teams
				that played, their scores, the frags, deaths, suicides and events,
				the players seen in the teams...</p>

			<dl class="sub-sections">
        <dt class="sub-section-title">
					<a name="Overview"></a>
					Team overview
				</dt>
        <dd class="sub-section-info">
					<p>This is an overview of the overall <span class="kw">scores</span>, and the total numbers of
						<span class="kw">events</span>, <span class="kw">frags</span>, <span class="kw">deaths</span>, <span class="kw">suicides</span> per team for
						this very map.</p>
<!--AE-stats TableTeamOverview; -->
				</dd>

        <dt class="sub-section-title">
					<a name="WeaponUsage"></a>
					Team weapon usage
				</dt>
        <dd class="sub-section-info">
					<p>Here you will find details on the teams weapon usage <span class="kw">frags</span>, and
						how hard a team was hit by the other team's weapons <span class="kw">deaths</span>.</p>
<!--AE-stats TableTeamWeaponUsage;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="Events"></a>
					Team events/scores
				</dt>
        <dd class="sub-section-info">
					<p>Here you can find out about the <span class="kw">events</span> each team triggered and how
						many points they scored by doing so. These non-frags track many of the other
						things that happened on this server.</p>
<!--AE-stats TableTeamEvents; -->
				</dd>

        <dt class="sub-section-title">
					<a name="Players"></a>
					Team player information
				</dt>
        <dd class="sub-section-info">
					<p>Here you will find the players, that where seen on each team in
						this map, and all sorts of info on these players, like their total
						<span class="kw">frags</span>, <span class="kw">deaths</span>, <span class="kw">suicides</span>, <span class="kw">events</span> and
						event <span class="kw">score</span> sum.</p>
<!--AE-stats TableTeamPlayers;  TableTeamPlayerNames is also generated!-->
				</dd>


			</dl>

		</div>

<!-- Copyright Info and Links -->
		<div class="footer">
			This page was generated with <a href="http://www.planetquake.com/aeons/aestats">&AElig;stats</a> (c) 1998-2001
			by <span class="product-name">&AElig;on</span>.<br>
			Using build
<!--AEstats AEstats_Version;-->
			<br>
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
			<br>Commercial use prohibited!
		</div>

	</body>
</html>

