<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "HTTP://WWW.W3.ORG/TR/HTML4/STRICT.DTD">
<HTML>
<HEAD>
<TITLE>&aelig;stats  -  b e s t  o f</TITLE>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="TEXT/HTML; CHARSET=ISO-8859-1">
<link rel="stylesheet" type="text/css"
<!--AEstats StyleSheet;-->
>
</HEAD>
</head>
	<body>
		<div class="page-body">

			<div class="nav-bar">
				<a href="AEstats.html">intro</a><br>
				<a href="AEstatsRanking.html">dm rank</a><br>
				<a href="AEstatsTeam.html">team rank</a><br>
				<a href="AEstatsBuddy.html">buddy stats</a><br>
				<span class="selected">best of</span><br>
	      <div class="sub-menu">
					...N&deg; of <a href="#Connects">connects</a><br>
					...<a href="#Connects">Time</a> spent on server<br>
					...Most <a href="#PlayedMaps">played maps</a><br>
					...Top Frags, Ds, Ss, Is <a href="#FPH">per Hour</a><br>
					...Top <a href="#Weapons">weapon</a> lamerz ;)<br>
					...Most <a href="#Frags">Frags</a>, Ds, Ss, Is<br>
					...<a href="#FOD">Forms of death</a>
        </div>
				<a href="AEstatsGlobal.html">global</a><br>
				<a href="AEstatsRankMatrix.html">rank matrix</a><br>
				<a href="AEstatsDiffMatrix.html">diff matrix</a><br>
				<a href="AEstatsHelp.html">help</a><br>
				<a href="AEstatsFAQ.html">F.A.Q.</a><br>
				<a href="http://www.planetquake.com/aeons/aestats" target="_new">&aelig;s site</a>
			</div>

			<h1 class="server-title">
<!--AEstats serverName; -->
			</h1>

			<div class="notes">
				<span class="field">Ranking</span> last updated on
				<span class="kw">
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
				</span>
			</div>

			<h2>Best of</h2>

			<p>Check for the most out- and instanding ;)
				players and happenings on this
				<span class="game-type">
<!--AEstats GameName; -->
				</span>
				server.</p>

			<p class="notes">Note: This page uses all the <code>meta log's</code> data, not just
				the data used in ranking. So these are overall best of tables.</p>

			<dl class="sub-sections">
        <dt class="sub-section-title">
					<a name="Connects"></a>
					Connects &amp; Gaming times
				</dt>
        <dd class="sub-section-info">
					<p>Check for the folks that call this <span class="game-type">
<!--AEstats GameName; -->
					</span> server home - the kings and queens of <span class="kw">connect</span>.</p>
          <p>The total <span class="kw">time</span> players spent
						fragging is also shown. For each level played, the player's
						first and last happenings are timed. The time between
						these is the time the player spent in the level, more
						to the point, this is the time the player actively took part
						in the action. All those times are then summed up
						and shown as total up times.
          </p>
          <p class="notes">Some games/mods do not provide date/time info.</p>
<!--AEstats TopSeenCounts;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="PlayedMaps"></a>
					Maps most played
				</dt>
        <dd class="sub-section-info">
          <p>These tables show what maps where most played, in counts of
						<span class="kw">frags</span>, <span class="kw">suicides</span>,
						and <span class="kw">incidents</span> per map.
          </p>
					<p>Frags &amp; deaths will always be the same for a specific map,
						since some player's frag, will be another player's death.
						Therefore the deaths are not shown.</p>
          <p class="notes">If a game/mod does not provide map names, then map numbers
						are shown.</p>
<!--AEstats TopMapCounts;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="FPH"></a>
					Top frags, deaths, suicides, incidents per hour
				</dt>
        <dd class="sub-section-info">
          <p>Using the players up times the frags, deaths, suicides, and
						incidents per hour are calculated. These values hint at the player's
						efficiency.
          </p>
					<p>Frags &amp; deaths will always be the same for a specific map,
						since some player's frag, will be another player's death.
						Therefore the deaths are not shown.</p>
          <p class="notes">Players that played less than <span class="kw">
<!--AEstats TimeBarrier;  -->
						</span> seconds will get an per hour value of zero. Some games/mods do not
						provide time/date info.</p>
<!--AEstats TopFPHScores;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="Weapons"></a>
					Top weapon usage
				</dt>
        <dd class="sub-section-info">
          <p>The below list shows the top <span class="kw">
<!--AEstats TopHowManyPlayers;  -->
						</span> weapon users for each weapon. Calculated like this:</p>
					<blockquote>
						<span class="kw">netto%</span> <code style="white-space: nowrap">
						 = (<span class="reference">frags</span> - <span class="reference">deaths</span>)
						 / (<span class="reference">frags</span> + <span class="reference">deaths</span>)</code>
					</blockquote>

					<p>On the right of the tables you will find the absolute count and %
						values for each weapon and player that made it into the list.</p>

					<p>Note that you will have to have at least <span class="kw">
<!--AEstats WeaponLamerzBarrier;  -->
						</span> weapon <span class="kw">incidents</span>
						<code>(=<span class="kw">frags</span> + <span class="kw">deaths</span>)</code> with that
						specific weapon to be included here.<p>

					<p><span class="game-type">
<!--AEstats GameName; -->
						</span> supports these weapons:</p>

	        <blockquote>
<!--AEstats LinxOfWeapons; w1, w2, ..., and wlast. -->
					<blockquote/>
<!--AEstats TopWeaponLamerz;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="Frags"></a>
					Top frag, death, suicide, incident scorers
				</dt>
        <dd class="sub-section-info">
          <p>These tables show the top players in absolute counts
						of <span class="kw">frags</span>, <span class="kw">deaths</span>,
						<span class="kw">suicides</span>, and <span class="kw">incidents</span>
						<code style="white-space: nowrap">(= f + d + s)</code>.
          </p>
					<p>Shown are those who really play a lot on this server.
						In the case of <span class="kw">frags</span>, the top cutthroats;
						in the case of <span class="kw">deaths</span> and <span class="kw">suicides</span>, the top masochists;
						in the case of <span class="kw">incidents</span> those that...
						ahem... prefer a virtual life... if you know what I mean ;).</p>
<!--AEstats TopFragsDeathsSuicides;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="FOD"></a>
					Forms of death
				</dt>
        <dd class="sub-section-info">
          <p>There are quite a few ways to make an end to it all - appart from
						getting fragged. For each <span class="kw">form of death</span> these tables show
						the top players in absolute counts.</p>
<!--AEstats TopCreativeFODs;  -->
				</dd>
      </dl>

		</div>

<!-- Copyright Info and Links -->
		<div class="footer">
			This page was generated with <a href="http://www.planetquake.com/aeons/aestats">&AElig;stats</a> (c) 1998-2001
			by <span class="product-name">&AElig;on</span>.<br>
			Using build
<!--AEstats AEstats_Version;-->
			<br>
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
			<br>Commercial use prohibited!
		</div>

	</body>
</html>

