<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<TITLE>&aelig;stats  -  b u d d y  stats</TITLE>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="TEXT/HTML; CHARSET=ISO-8859-1">
<link rel="stylesheet" type="text/css"
<!--AEstats StyleSheet;-->
>
</HEAD>
</head>
	<body>
		<div class="page-body">

			<div class="nav-bar">
				<a href="AEstats.html">intro</a><br>
				<a href="AEstatsRanking.html">dm rank</a><br>
				<a href="AEstatsTeam.html">team rank</a><br>
				<span class="selected">buddy stats</span><br>
	      <div class="sub-menu">
					...<a href="#Overview">Overview</a> F, D , S, &amp; E<br>
					...<a href="#Frags">Frags</a><br>
					...<a href="#Deaths">Deaths</a><br>
					...<a href="#Suicides">Suicides</a><br>
					...<a href="#Events">Events</a><br>
					...<a href="#EventScores">Event scores</a><br>
					...<a href="#Roles">Roles</a> - player classes<br>
					...<a href="#F-Streak">Frag streaks</a><br>
					...<a href="#D-Streak">Death/suicide streaks</a><br>
					...<a href="#PlacedAt">Placed at</a> per Map
        </div>
				<a href="AEstatsBestOfs.html">best of</a><br>
				<a href="AEstatsGlobal.html">global</a><br>
				<a href="AEstatsRankMatrix.html">rank matrix</a><br>
				<a href="AEstatsDiffMatrix.html">diff matrix</a><br>
				<a href="AEstatsHelp.html">help</a><br>
				<a href="AEstatsFAQ.html">F.A.Q.</a><br>
				<a href="http://www.planetquake.com/aeons/aestats" target="_new">&aelig;s site</a>
			</div>

			<h1 class="server-title">
<!--AEstats serverName; -->
			</h1>

			<div class="notes">
				<span class="field">Ranking</span> last updated on
				<span class="kw">
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
				</span>
			</div>

			<h2>Buddy stats</h2>

      <p>Compare the stats of your closest 'friends' on this <span class="game-type">
<!--AEstats GameName; -->
			</span> server.</p>

      <p>In the <code class="reference">AEstats.cfg</code> the admin can define special
				players to be shown on this page for comparison. Up to 20 of these so called
				<span class="rererence">buddies</span> can be defined. Alternately from the list
				of ranked players up to 20 top incidenters can be shown, automatically.</p>

			<dl class="sub-sections">
        <dt class="sub-section-title">
					<a name="Overview"></a>
					Overview
				</dt>
        <dd class="sub-section-info">
					<p>Compare the all basic infos: The overall
						<span class="kw">frags</span>,
						<span class="kw">deaths</span>,
						<span class="kw">suicides</span>,
						<span class="kw">events</span>,
						<span class="kw">incidents</span>
						<code>(<span class="kw">frags</span> +
							<span class="kw">deaths</span> +
							<span class="kw">suicides</span>)</code>,
						<span class="kw">nettos</span>
						<code>(<span class="kw">frags</span> -
							<span class="kw">deaths</span> -
							<span class="kw">suicides</span>)</code>,
						and <span class="kw">netto%</span>
						<code>(<span class="kw">nettos</span> /
							<span class="kw">incidents</span>)</code>
						values of 'buddies'.<p>

						<p class="notes">If the admin has not defined any buddies in
						<code class="reference">AEstats.cfg</code>, then from the players
						in ranking, those with the top incident counts are shown (sorted).
						These are the folks you also see on the ranking matrix page by the way.</p>
<!--AEstats TableBuddyPlayerNames;  -->
						<br>
<!--AEstats TableBuddyOverview;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="Frags"></a>
					Frags (weapons-related)
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the different weapon related frags by
						naming the "weapon" and the frag counts (matrix rows).
						The number in the matrix head denote the player's numbers
						(matrix columns). In column number 2 e.g. you will find
						all the Frags of player number 2 did.<p>

						<p class="notes">All following matrices are in the same format, columns
						denote data pertaining to one numbered player. Matrix lines
						are not shown, if none of the buddies have data available.</p>
<!--AEstats TableBuddyPlayerNames;  -->
						<br>
<!--AEstats TableBuddyFrags;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="Deaths"></a>
					Deaths (weapons-related)
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the different weapon related deaths by
						naming the "weapon" and the death counts (matrix rows).
						Matrix columns denote the player's number.</p>
<!--AEstats TableBuddyPlayerNames;  -->
						<br>
<!--AEstats TableBuddyDeaths;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="Suicides"></a>
					Suicides (weapons-related or environmental)
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the different suicides by
						naming the "damage type" and the suicide counts (matrix rows).
						Matrix columns denote the player's number.</p>
<!--AEstats TableBuddyPlayerNames;  -->
						<br>
<!--AEstats TableBuddySuicides;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="Events"></a>
					Events (non-frags, up-close)
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the different events by
						naming them and the appropriate counts (matrix rows).
						Matrix columns denote the player's number.</p>

						<p class="notes">Many games/mods will not have event data.</p>
<!--AEstats TableBuddyPlayerNames;  -->
						<br>
<!--AEstats TableBuddyEvents;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="EventScores"></a>
					Event scores
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the scores for the different
						events (matrix rows). The score is calculated by multiplying the
						event counts with the event <b>points</b> (as set in the
						<code>AEsscore.cfg</code>). Matrix columns denote the
						player's number.</p>

						<p class="notes">Many games/mods will not have event data.</p>
<!--AEstats TableBuddyPlayerNames;  -->
						<br>
<!--AEstats TableBuddyEventScores;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="Roles"></a>
					Roles (player classes)
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the different roles by
						naming them and the appropriate counts (matrix rows).
						Matrix columns denote the player's number.</p>

						<p class="notes">Many games/mods will not have event data.</p>
<!--AEstats TableBuddyPlayerNames;  -->
						<br>
<!--AEstats TableBuddyRoles;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="F-Streak"></a>
					Frag streaks
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the different <span class="kw">frag</span> streaks by
						naming the frags in a row and the appropriate counts (matrix rows).
						A streak of <code>xx+</code> means that the players scored more frags in a row
						than can be shown. Matrix columns denote the player's number.</p>

<!--AEstats TableBuddyPlayerNames;  -->
						<br>
<!--AEstats TableBuddyFragStreak;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="D-Streak"></a>
					Death/suicide streaks
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the different
						<span class="kw">death</span>/<span class="kw">suicide</span>
						streaks by naming the
						<span class="kw">death</span>/<span class="kw">suicide</span>
						in a row and the appropriate counts (matrix rows). A streak of <code>xx+</code>
						means that the players died more often in a row than can be shown.
						Matrix columns denote the player's number.</p>

<!--AEstats TableBuddyPlayerNames;  -->
						<br>
<!--AEstats TableBuddyDeathStreak;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="PlacedAt"></a>
					Placed @ position (in that map)
				</dt>
        <dd class="sub-section-info">
					<p>This Matrix shows the maps that where played and
						and how the player placed in that map (matrix rows).
						The placement is calculated by counting the player's
						frags, deaths and suicides, calculating the <span class="reference">netto</span>
						<code style="white-space: nowrap">(= f - d - s)</code>,
						for all player's (not just the "buddies" show here)
						in that map, and then determining the order of placement.
						Matrix columns denote the player's number.</p>

<!--AEstats TableBuddyPlayerNames;  -->
						<br>
<!--AEstats TableBuddyPlacedAt;  -->
				</dd>

      </dl>

		</div>

<!-- Copyright Info and Links -->
		<div class="footer">
			This page was generated with <a href="http://www.planetquake.com/aeons/aestats">&AElig;stats</a> (c) 1998-2001
			by <span class="product-name">&AElig;on</span>.<br>
			Using build
<!--AEstats AEstats_Version;-->
			<br>
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
			<br>Commercial use prohibited!
		</div>

	</body>
</html>

