<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<TITLE>&aelig;stats ranking pages</TITLE>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="TEXT/HTML; CHARSET=ISO-8859-1">
<link rel="stylesheet" type="text/css"
<!--AEstats StyleSheet;-->
>
</head>
	<body>
		<div class="page-body">

			<div class="nav-bar">
				<span class="selected">intro</span><br>
				<a href="AEstatsRanking.html">dm rank</a><br>
				<a href="AEstatsTeam.html">team rank</a><br>
				<a href="AEstatsBuddy.html">buddy stats</a><br>
				<a href="AEstatsBestOfs.html">best of</a><br>
				<a href="AEstatsGlobal.html">global</a><br>
				<a href="AEstatsRankMatrix.html">rank matrix</a><br>
				<a href="AEstatsDiffMatrix.html">diff matrix</a><br>
				<a href="AEstatsHelp.html">help</a><br>
				<a href="AEstatsFAQ.html">F.A.Q.</a><br>
				<a href="http://www.planetquake.com/aeons/aestats" target="_new">&aelig;s site</a>
			</div>

			<h1 class="server-title">
<!--AEstats serverName; -->
			</h1>

			<div class="notes">
				<span class="field">Ranking</span> last updated on
				<span class="kw">
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
				</span>
			</div>

			<h2>Ranking pages</h2>

			<p>For lots of <span class="kw">statistical information</span>,
				death match and team rankings, and much much more,
				see your gaming results on this
				<span class="game-type">
<!--AEstats GameName; -->
				</span>
				server.</p>

			<p>If you want to contact the admin of this server, then send an
				email to
<!--AEstats serverEmail; -->
				.</p>

			<dl class="sub-sections">
				<dt class="sub-section-title">Death match Rank</dt>
				<dd class="sub-section-info">
					Are you ready for merciless
<!--AEstats LinkRanking; <a href=...html> -->
					ranking</a>?
					Follow the player name links to the individual <b>player stats</b>
					pages. For an overview of frags / deaths / suicides see the
<!--AEstats LinkRankMatrix; <a href=...html> -->
					ranking</a>  and the
<!--AEstats LinkDiffMatrix; <a href=...html> -->
					difference</a> matrices.
				</dd>

				<dt class="sub-section-title">Team Rank</dt>
				<dd class="sub-section-info">
					You want to see how your team played these the
					last few maps? And how well you did as a team player?
					Then check out the
<!--AEstats LinkTeamStats; <a href=...html> -->
					team stats</a>.
				</dd>

				<dt class="sub-section-title">Buddy Stats</dt>
				<dd class="sub-section-info">
					The
<!--AEstats LinkBuddy; <a href=...html> -->
					buddy</a> stats page, compares all the vital data of your buddies. If
					no buddies are defined, then the top folks in ranking are compared.
				</dd>

				<dt class="sub-section-title">Best Of</dt>
				<dd class="sub-section-info">
					This page shows the
<!--AEstats LinkBestOfs; <a href=...html> -->
					best of</a> stats for the folks on this server. See who
					had the hightest FPH, or fragged the most etc...
				</dd>

				<dt class="sub-section-title">Global Info</dt>
				<dd class="sub-section-info">
					The
<!--AEstats LinkGlobal; <a href=...html> -->
					global</a> data gives you an overview on what's been happening on this server.
				</dd>

				<dt class="sub-section-title">Help &amp; FAQ</dt>
				<dd class="sub-section-info">
					The
<!--AEstats LinkHelp; <a href=...html> -->
					help</a> page sums up all the information you need to understand the
					tables, matrices, etc. It is part of the online help. The
<!--AEstats LinkFAQ; <a href=...html> -->
					faq</a> - Frequently Asked Questions, will answer tons of inside info.
				</dd>
			</dl>
		</div>

<!-- Copyright Info and Links -->
		<div class="footer">
			This page was generated with <a href="http://www.planetquake.com/aeons/aestats">&AElig;stats</a> (c) 1998-2001
			by <span class="product-name">&AElig;on</span>.<br>
			Using build
<!--AEstats AEstats_Version;-->
			<br>
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
			<br>Commercial use prohibited!
		</div>

	</body>
</HTML>
