<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<TITLE>&aelig;stats  -  the  h e l p  page</TITLE>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="TEXT/HTML; CHARSET=ISO-8859-1">
<link rel="stylesheet" type="text/css"
<!--AEstats StyleSheet;-->
>
</HEAD>
</head>
	<body>
		<div class="page-body">

			<div class="nav-bar">
				<a href="AEstats.html">intro</a><br>
				<a href="AEstatsRanking.html">dm rank</a><br>
				<a href="AEstatsTeam.html">team rank</a><br>
				<a href="AEstatsBuddy.html">buddy stats</a><br>
				<a href="AEstatsBestOfs.html">best of</a><br>
				<a href="AEstatsGlobal.html">global</a><br>
				<a href="AEstatsRankMatrix.html">rank matrix</a><br>
				<a href="AEstatsDiffMatrix.html">diff matrix</a><br>
				<span class="selected">help</span><br>
        <div class="sub-menu">
          <div class="sub-menu-title">Ranking</div>
					...The list of ranked <a href="#RankPlList">players</a>?<br>
					...The <a href="#RankTabl">ranking</a> table?<br>
					...The <a href="#RankMatrix">ranking</a> matrix?<br>
					...The <a href="#RankIntMatrix">rank intensity</a> matrix?<br>
					...The <a href="#DiffMatrix">difference</a> matrix?<br>
					...The <a href="#DiffIntMatrix">diff intensity</a> matrix?<p>
				</div>
        <div class="sub-menu">
          <div class="sub-menu-title">Player stats</div>
					...<a href="#WeaponUsage">Weapon</a> usage<br>
					...<a href="#FragsDeaths">Frags</a>/deaths/suis<br>
					...<a href="#AltWeaponUsage">Alternate</a> weapon usage<br>
					...Alternate <a href="#AltFragsDeaths">frags</a>/deaths/duis<br>
					...Suicides / <a href="#DamageTypes">damage types</a><br>
					...<a href="#FPHPerMap">Frags per hour</a> &amp; map
				</div>
				<a href="AEstatsFAQ.html">F.A.Q.</a><br>
				<a href="http://www.planetquake.com/aeons/aestats" target="_new">&aelig;s site</a>
			</div>

			<h1 class="server-title">
<!--AEstats serverName; -->
			</h1>

			<div class="notes">
				<span class="field">Ranking</span> last updated on
				<span class="kw">
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
				</span>
			</div>

			<h2>Help</h2>

			<p>Some tables might be overwhelming at first. Here you can read up
				on how these tables are to be read. You will find they convey
				quite a lot of infos.</p>

			<dl class="sub-sections">
        <dt class="sub-section-title">
					<a name="RankPlList"></a>
					The list of ranked players
				</dt>
        <dd class="sub-section-info">
					<p>Here is the list of players that have enough <span class="kw">incidents</span> and high
						<span class="kw">netto%</span> scores  to make it into the top <span class="kw">
<!--AEstats TableRankMaxPlNumber;  -->
						</span> list of <span class="kw">ranked</span> players. For your convenience names are
						alphabetically sorted.</p>

	        <p class="notes">Note that this page uses an <span class="kw">intensity</span> color coding.
						The player N&deg; and color match those in the <a href="#RankTabl">ranking</a> matrix below.
						The 'top' players in ranking are colored in <span class="i0">red</span>, and the 'weakest'
						in <span class="i9">blue</span>.</p>

<!--AEstats TableRankINTPlayerNames;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="RankTabl"></a>
					The ranking table
				</dt>
        <dd class="sub-section-info">
					<p>Using the <span class="kw">rank matrix</span> as data basis, a player list sorted
						by rank is calculated. The more frags you score against other players, without
						getting hit too much, the better your ranking. Also your suicide count should
						be low.</p>

	        <p class="notes">Note you are ranked against every other player in ranking. And every player counts
						the same. So if you lose against a few you can improve your ranking by hitting on
						others that are actually <span class="kw">in</span> ranking.  So hitting weak players - these get
						filtered out - won't get you anywhere  and only spoils the beginners fun.</p>

          <dl>
	          <dt class="reference">Player</dt>
            <dd>
							<p>The player links point to a <span class="kw">player specific stats</span> page.</p>
							<p class="notes">On that page <em>all</em> player related data is shown. The table here only shows
								the data relevant for ranking (a data subset).</p>
						</dd>
	          <dt class="reference">Rank</dt>
            <dd>
							<p>Your rank, e.g. how good (efficient) you were playing. Values range from
								<code>0</code> to <code>100</code>, where <code>50</code> is your average player that
								does not suicide much and gets hit as much as he hands out. So you will want
								to have values above <code>50</code>... trust me ;).</p>
						</dd>
	          <dt class="reference">Contacts</dt>
            <dd>
							<p>The number of players you hit or that hit on you.  Maximum value is
								<code>matrix size - 1</code> - and you are not counted.</p>
						</dd>
	          <dt class="reference">Nettos</dt>
            <dd>
							<p><code><span class="kw">frags</span> -
								<span class="kw">deaths</span> -
								<span class="kw">suicides</span></code> and <span class="kw">netto%</span> are a
								simple form of ranking - an efficiency.</p>
						</dd>
          </dl>

          <p>Percent values are also indicated. The last line shows averages for each column.</p>

<!--AEstats TableRankSummery;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="RankMatrix"></a>
					The ranking matrix
				</dt>
        <dd class="sub-section-info">
					<p>Foundation of all <span class="kw">ranking</span> is the following <span class="kw">ranking matrix</span>,
						that sums up all the frag, and death (suicide) data. The matrix is sorted by the player
						<span class="kw">incident</span> count, top left players played the most, bottom right
						played the least.</p>

	        <p>The <em>horizontal</em> lines begin with a player name and a color coded number,
						each value in the following columns (to the right) are <span class="kw">frags</span> this player
						scored *against* all the other players. Now locate the column (<em>vertical</em>) with
						the same player number, all values in that column show the same player's <span class="kw">deaths</span>.
						(The values on the <em>diagonal</em> used to be suicides, these where converted
						into <span class="kw">virtual frags</span> and redistributed among the players in ranking).</p>

          <p>All the players frags are summed up in the <em>last column</em> (outer right).
						The <em>last line</em> in the matrix sums up all the deaths. Bottom right
						N&deg; shows the total number of incidents (frags+deaths).</p>

          <p class="notes">Note: Only the frags and deaths are shown/counted are relevant to ranking,
						and thereby have to do with the folks *in* ranking, this is a frag/death
						subset of the total number of frags/deaths of these players.</p>

<!--AEstats TableRankRankMatrix;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="RankIntMatrix"></a>
					The rank intensity matrix
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the same data as the <a href="#Matrix">ranking matrix</a> above,
						only that the frags and deaths share a common <span class="kw">intensity</span>
						color coding. <span class="i0">Red</span> shows the maximum values seen in
						frags, and deaths. <span class="i9">Blue</span> the minimum values.</p>
				</dd>

        <dt class="sub-section-title">
					<a name="DiffMatrix"></a>
					The difference matrix
				</dt>
        <dd class="sub-section-info">
					<p>To make it easier to compare if you are being hit more by certain players, than you are
						hitting them, check out the following <em>difference matrix</em>. For each player pair
						<code>i</code> and <code>j</code> the <code>matrix[i][j]-matrix[j][i]</code> values are calculated.
						In other words, if in your <em>horizontal</em> player line you only see <span class="kw">positive</span>
						values then no one is fragging you more than you are fragging them. <span class="kw">Negative</span>
						values tell you who is ripping you off ;). Also notice the symmetry along the
						diagonal.</p>
<!--AEstats TableRankDiffMatrix;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="DiffIntMatrix"></a>
					The difference intensity matrix
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the same data as the <a href="#DiffMatrix">diff matrix</a> above,
							only that the frags and deaths share a common <span class="kw">intensity</span>
							color coding. <span class="i0">Red</span> shows the maximum values seen in
							frags, and deaths. <span class="i9">Blue</span> the minimum values.</p>
<!--AEstats TableRankDiffIntMatrix;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="WeaponUsage"></a>
					Weapon usage (frags, deaths &amp; suicides)
				</dt>
        <dd class="sub-section-info">
					<p>The <code>y-axis</code> is in %. Shown are your frags and deaths (suicides on the right hand
						side) as percentages of your total number of <span class="kw">incidents</span>
						(=<span class="kw">frags</span> + <span class="kw">deaths</span> + <span class="kw">suicides</span>).
						The <code>x-axis</code> denotes the weapons involved. The weapons are color coded.</p>

            <p>As a good player your <span class="kw">F</span> (for frags) bars should be higher than your <span class="kw">D</span>
							(for deaths, these are frags other players scored against you using that same
							weapon) bars. And you can see right away what weapons you really have a grip on
							and with which you should practice more. See the next table for absolute values.</p>

          <div align="center">
<!--AEstats TablePlWeaponUsage;  -->
					</div>
				</dd>

        <dt class="sub-section-title">
					<a name="FragsDeaths"></a>
					Frags/Deaths/Suicides
				</dt>
        <dd class="sub-section-info">
					<p>This table is color coded, the way the previous table was coded. It shows the absolute
						counts in frags, deaths, suicides and the appropriate percentage values. All your frags
						&amp; deaths are summed up. The suicides are mentioned for completeness, see the
						<a href="#DamageTypes">suicide</a> table for details.</p>
          <div align="center">
<!--AEstats TablePlFragsDeaths;  -->
					</div>
				</dd>

        <dt class="sub-section-title">
					<a name="AltWeaponUsage"></a>
					<a name="AltFragsDeaths"></a>
					Alternate weapon usage &amp; alternate frags/deaths/suicides
				</dt>
        <dd class="sub-section-info">
					<p>The alternate weapon usage table is much the same as the <a href="#WeaponUsage">weapon usage</a>
						table above. This table shows the player's use of the alternate
						weapon mode <span class="kw">
<!--AEstats GameName; -->
		        </span> provides.</p>

            <p>The alternate frags/deaths/suicides table is much the same as the
							<a href="#FragsDeaths">frags/deaths/suis</a> table mentioned above.
							Absolute & percentage values of alternate
							<span class="kw">frag/death/suicide</span> counts.</p>

            <p class="notes">Most games/mods do *not* have alternate weapon modes.</p>
				</dd>

        <dt class="sub-section-title">
					<a name="DamageTypes"></a>
					Suicides &amp; damage types
				</dt>
        <dd class="sub-section-info">
					<p>On the <span class="kw">left</span> side of the table you will find a list of
						suicides <span class="kw">
<!--AEstats GameName; -->
		        </span> provides.</p>

            <p>On the <span class="kw">right</span> side all the player's
							in-game damage types are counted (not mattering if they have to do with suicides).
							The table splits them up and gives absolute and percentage values.</p>

            <p class="notes">Most games/mods do not provide extra damage type information.</p>
<!--AEstats TablePlayerSDT; Suicides / Overall Damage Types -->
				</dd>

        <dt class="sub-section-title">
					<a name="FPHPerMap"></a>
					FPH per map
				</dt>
        <dd class="sub-section-info">
					<p>The most recently map *you* played are shown. The histogram
						displays the Frags per Hour (FPH). This is a measure of your
						fragging frequency.</p>

          <p>FPH is calculated in the following way:</p>

          <p><code>FPH = (Frags - Deaths - Suicides) / (MapTime/3600)</code></p>

          <p><code>MapTime</code> is the time the map was up in seconds. So if you only make
						2 or 3 frags then disconnect, your FPH will be bad for that map. Try to play
						the map to the next level change. High FPH values are possible by fragging all
						you can see, and doing it as quickly as possible without getting hit. This is
						*not* really criterium how good you are, it's more like a frag-frenzy indicator 8-).</p>

            <p class="notes">Some games/mods do not provide time/date or map name information.</p>

<!--AEstats TableFPHPerMap;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="DiffMatrix"></a>
					FPH &amp; times
				</dt>
        <dd class="sub-section-info">
					<p>In this table many details on the last maps you have been playing are
						shown. You can check on the map names, when and for how long each map was
						played, the FPH and the <span class="kw">netto</span> values, used to calc
						the FPH.</p>
<!--AEstats TableFPHOtherInfo;  -->
				</dd>

		</div>

<!-- Copyright Info and Links -->
		<div class="footer">
			This page was generated with <a href="http://www.planetquake.com/aeons/aestats">&AElig;stats</a> (c) 1998-2001
			by <span class="kw">&AElig;on</span>.<br>
			Using build
<!--AEstats AEstats_Version;-->
			<br>
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
			<br>Commercial use prohibited!
		</div>

	</body>
</html>

