<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<TITLE>&aelig;stats  -  p l a y e r  stats</TITLE>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="TEXT/HTML; CHARSET=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="../aestats.css">
</HEAD>
</head>
	<body>
		<div class="page-body">

			<div class="nav-bar">
				<a href="../AEstats.html">intro</a><br>
				<a href="../AEstatsRanking.html">dm rank</a><br>
				<a href="../AEstatsTeam.html">team rank</a><br>
				<a href="../AEstatsBuddy.html">buddy stats</a><br>
				<a href="../AEstatsBestOfs.html">best of</a><br>
				<a href="../AEstatsGlobal.html">global</a><br>
				<a href="../AEstatsRankMatrix.html">rank matrix</a><br>
				<a href="../AEstatsDiffMatrix.html">diff matrix</a><br>
				<a href="../AEstatsHelp.html">help</a><br>
				<a href="../AEstatsFAQ.html">F.A.Q.</a><br>
				<a href="http://www.planetquake.com/aeons/aestats" target="_new">&aelig;s site</a>
        <div class="sub-menu-title">
<!--AEstats RankColorPlayerName; <span class=...>-->
<!--AEstats PlayerName;-->
	        </span>
				</div>
        <div class="sub-menu">
					...<a href="#Overview">Overview</a> F, D , S, &amp;E Usage<br>
					...<a href="#WeaponUsage">Weapon usage</a><br>
					...<a href="#FragsDeaths">Frags</a>/Deaths/Suis<br>
					...<a href="#DamageTypes">Suicides</a> / Damage Types<br>
					...<a href="#Events">Events</a><br>
					...<a href="#Roles">Roles</a> - Player Classes<br>
					...<a href="#RolesCorrFD">Correlation</a> Role Frags/Deaths<br>
					...<a href="#Streaks">Streaks</a> - F/DS in a Row<br>
					...<a href="#AltWeaponUsage">Alternate</a> Weapon Usage<br>
					...Alternate <a href="#AltFragsDeaths">Frags</a>/Deaths/Suis<br>
					...<a href="#FPHPerMap">Frags per Hour</a> & Map
				</div>
			</div>

			<h1 class="server-title">
<!--AEstats serverName; -->
			</h1>

			<div class="notes">
				<span class="field">Ranking</span> last updated on
				<span class="kw">
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
				</span>
			</div>

			<h2>
<!--AEstats RankColorPlayerName; <span class=...>-->
<!--AEstats PlayerName;-->
	      </span>
			</h2>

      <h3>
				Ranked at N&deg;
<!--AEstats RankColorPlayerName; <span class=...>-->
<!--AEstats RankedAtNo;-->
				</span> of
<!--AEstats MadeItPlayers;-->
				with a rank of
<!--AEstats RankColorPlayerName; <span class=...>-->
<!--AEstats RankOfPlayer;-->
				</span>
			</h3>

      <p>This page shows <em>everything</em> that happened to this player.
				The <a href=../AEstatsRanking.html>ranking</a> page on the other
				hand only shows/uses the data relevant for ranking. E.g. Frags/Deaths
				that happened between you and the other players <em>also</em> in the ranking.
				The ranking stats show a data subset!</p>

			<dl class="sub-sections">
        <dt class="sub-section-title">
					<a name="Overview"></a>
					Overview
				</dt>
        <dd class="sub-section-info">
					<p>This is an overview of <span class="kw">frags</span>, <span class="kw">deaths</span>,
						<span class="kw">suicides</span> and <span class="kw">events</span>
						that happened to this player. Also shown are the <span class="kw">nettos</span>
						<code style="white-space: nowrap">(= f - d - s)</code>, <span class="kw">incidents</span>
						<code style="white-space: nowrap">(= f + d + s)</code>, and <span class="kw">netto%</span>
						<code style="white-space: nowrap">(= (f - d - s) / (f + d + s))</code> values.
						See <a href="../AEstatsHelp.html#Overview">Help</a> for details.</p>
<!--AEstats TablePlayerOverview; Suicides / Overall Damage Types -->
				</dd>

        <dt class="sub-section-title">
					<a name="WeaponUsage"></a>
					<a name="FragsDeaths"></a>
					Weapon Usage
				</dt>
        <dd class="sub-section-info">
					<p>Here you will find details on this players weapon usage <span class="kw">frags</span>,
						how hard he was hit by the other player's weapons <span class="kw">deaths</span>, and
						the mistakes he made <span class="kw">suicides</span>.
						See <a href="../AEstatsHelp.html#WeaponUsage">Help</a> for details.</p>
          <div align="center">
<!--AEstats TablePlWeaponUsage;  -->
					</div>
	        <br>
          <div align="center">
<!--AEstats TablePlFragsDeaths;  -->
          </div>
				</dd>

        <dt class="sub-section-title">
					<a name="DamageTypes"></a>
					Suicides
				</dt>
        <dd class="sub-section-info">
					<p>Here you find the <span class="kw">suicides</span> split into the for this game/mod
						possible damage types. Note: Only the suicides that actually happened
						to this player are shown.
						See <a href="../AEstatsHelp.html#DamageTypes">Help</a> for details.</p>
          <div align="center">
<!--AEstats TablePlayerSDT; Suicides / Overall Damage Types -->
					</div>
				</dd>

        <dt class="sub-section-title">
					<a name="Events"></a>
					Events
				</dt>
        <dd class="sub-section-info">
					<p>A recent addition to &aelig;stats are <span class="kw">events</span>. These non-frags
						track many of the other things that happened on this server, also used
						for team stats. See <a href="../AEstatsHelp.html#Events">Help</a> for details.</p>
          <div align="center">
<!--AEstats TablePlayerEvents; -->
					</div>
				</dd>

        <dt class="sub-section-title">
					<a name="Roles"></a>
					Roles (player classes)
				</dt>
        <dd class="sub-section-info">
					<p>Another recent addition to &aelig;stats are <span class="kw">roles</span>. for
						each happening the player classes are tracked, to better show
						this players gaming habits. See <a href="../AEstatsHelp.html#Roles">Help</a> for details.</p>
          <div align="center">
<!--AEstats TablePlayerRoles; -->
					</div>
				</dd>

        <dt class="sub-section-title">
					<a name="RolesCorrFD"></a>
					Role correlation (frags/deaths)
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the player roles (classes). Role fragger's are
						on the <em>x</em>-axis (lines), and the role fragged are shown on
						the <em>y</em>-axis (columns). This will let you interpret what
						the most commonly used frag roles were. If both players
						were of the same class, then they are shown on the
						diagonal. See <a href="../AEstatsHelp.html#RolesCorrFD">Help</a> for details.</p>
          <div align="center">
<!--AEstats TablePlayerCorrelationRFDs; -->
					</div>
				</dd>

        <dt class="sub-section-title">
					<a name="Streaks"></a>
					Streaks (f/d/s in a row)
				</dt>
        <dd class="sub-section-info">
					<p>Ever wondered how many frags in a row you where fated to
						hand out, or how often you died/suicides in a map? Check
						your streaks below. See <a href="../AEstatsHelp.html#Streaks">Help</a>
						for details.</p>
          <div align="center">
<!--AEstats TablePlayerFDSRows; -->
					</div>
				</dd>

        <dt class="sub-section-title">
					<a name="AltWeaponUsage"></a>
					<a name="AltFragsDeaths"></a>
					Alternate weapon usage
				</dt>
        <dd class="sub-section-info">
					<p>Some games/mods have weapons with an alternate means of
						attack. if possible &aelig;stats will show
						the these alternate weapon related <span class="kw">frags</span>, <span class="kw">deaths</span>,
						and <span class="kw">suicides</span>.
						See <a href="../AEstatsHelp.html#AltWeaponUsage">Help</a> for details.</p>
          <div align="center">
<!--AEstats TablePlAltWeaponUsage;  -->
					</div>
	        <br>
          <div align="center">
<!--AEstats TablePlAltFragsDeaths;  -->
					</div>
				</dd>

        <dt class="sub-section-title">
					<a name="FPHPerMap"></a>
					FPH (Frags Per Hour) per map
				</dt>
        <dd class="sub-section-info">
					<p>Here the last maps this player played are shown (upto a maximum of <span class="kw">
<!--AEstats MaxPlPerMap;  -->
						</span> set in <code>AEstats.cfg</code>). The histogram
						shows the FPH (Frags Per Hour, using the netto
						(= <code style="white-space: nowrap">f - d - s</code>) count) per map.
						The other table floods you with details on the last few maps.
						Like your top frag/death streaks (F-Row, D-Row).
						See <a href="../AEstatsHelp.html#FPHPerMap">Help</a> for details.</p>
          <div align="center">
<!--AEstats TableFPHPerMap;  -->
					</div>
		      <br>
          <div align="center">
<!--AEstats TableFPHOtherInfo;  -->
					</div>
				</dd>

      </dl>

		</div>

<!-- Copyright Info and Links -->
		<div class="footer">
			This page was generated with <a href="http://www.planetquake.com/aeons/aestats">&AElig;stats</a> (c) 1998-2001
			by <span class="product-name">&AElig;on</span>.<br>
			Using build
<!--AEstats AEstats_Version;-->
			<br>
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
			<br>Commercial use prohibited!
		</div>

	</body>
</html>

