<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<TITLE>&aelig;stats  -  d i f f  matrix</TITLE>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="TEXT/HTML; CHARSET=ISO-8859-1">
<link rel="stylesheet" type="text/css"
<!--AEstats StyleSheet;-->
>
</HEAD>
</head>
	<body>
		<div class="page-body">

			<div class="nav-bar">
				<a href="AEstats.html">intro</a><br>
				<a href="AEstatsRanking.html">dm rank</a><br>
				<a href="AEstatsTeam.html">team rank</a><br>
				<a href="AEstatsBuddy.html">buddy stats</a><br>
				<a href="AEstatsBestOfs.html">best of</a><br>
				<a href="AEstatsGlobal.html">global</a><br>
				<a href="AEstatsRankMatrix.html">rank matrix</a><br>
				<span class="selected">diff matrix</span><br>
        <div class="sub-menu">
					...List of <a href="#Ranked">players</a> in ranking<br>
					...<a href="#Matrix">Difference</a> matrix<br>
					...Diff matrix: <a href="#IntensityMatrix">Intensity</a>
				</div>
				<a href="AEstatsHelp.html">help</a><br>
				<a href="AEstatsFAQ.html">F.A.Q.</a><br>
				<a href="http://www.planetquake.com/aeons/aestats" target="_new">&aelig;s site</a>
			</div>

			<h1 class="server-title">
<!--AEstats serverName; -->
			</h1>

			<div class="notes">
				<span class="field">Ranking</span> last updated on
				<span class="kw">
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
				</span>
			</div>

			<h2>Diff matrix</h2>

      <p>The so called <span class="kw">difference matrix</span>
				shows <a href="AEstatsRankMatrix.html">rank matrix</a>
				data in a slightly different way, by subtracting a player's
				deaths from his frags. This makes it very clear who is the victor
				and who is the victim.</p>

      <p class="notes">The matrix used to calculate the stats on the
				<a href="AEstatsRanking.html">dm rank</a> page is
				<span class="kw">
<!--AEstats MadeItPlayers; -->
				</span>
				x
				<span class="kw">
<!--AEstats MadeItPlayers; -->
				</span>
			  in size. This page only shows a top left subset (<span class="kw">
<!--AEstats TableRankMaxPlNumber; -->
				</span>
				x
				<span class="kw">
<!--AEstats TableRankMaxPlNumber; -->
				</span>) of the rank matrix, that is incident sorted.</p>


			<dl class="sub-sections">
        <dt class="sub-section-title">
					<a name="Ranked"></a>
					Player list
				</dt>
        <dd class="sub-section-info">
					<p>This is the subset list of of all the players in ranking,
						the folks with the most incidents (<span class="kw">
<!--AEstats TableRankMaxPlNumber; -->
						</span> of the total
            <span class="kw">
<!--AEstats MadeItPlayers; -->
						</span>). Names are alphabetically sorted. See <a href="AEstatsHelp.html#RankPlList">Help</a>
						for details.</p>

<!--AEstats TableRankPlayerNames;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="Matrix"></a>
					Rank matrix
				</dt>
        <dd class="sub-section-info">
					<p>This is a subset of the full ranking matrix, since it is incident
						sorted, the folks that played the most are found in the top left.
						See <a href="AEstatsHelp.html#DiffMatrix">Help</a> for details.</p>

<!--AEstats TableRankDiffMatrix;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="IntensityMatrix"></a>
					Intensity rank matrix
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the same data as the one above, only now
						the data is presented as an intensity range. This makes it easier
						to pick out high (red) and low (blue) values. See
						<a href="AEstatsHelp.html#DiffIntMatrix">Help</a> for details.</p>

<!--AEstats TableRankIntDiffMatrix;  -->
				</dd>

      </dl>

		</div>

<!-- Copyright Info and Links -->
		<div class="footer">
			This page was generated with <a href="http://www.planetquake.com/aeons/aestats">&AElig;stats</a> (c) 1998-2001
			by <span class="product-name">&AElig;on</span>.<br>
			Using build
<!--AEstats AEstats_Version;-->
			<br>
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
			<br>Commercial use prohibited!
		</div>

	</body>
</html>

