<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<TITLE>&aelig;stats  -  g l o b a l  stats</TITLE>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="TEXT/HTML; CHARSET=ISO-8859-1">
<link rel="stylesheet" type="text/css"
<!--AEstats StyleSheet;-->
>
</HEAD>
</head>
	<body>
		<div class="page-body">

			<div class="nav-bar">
				<a href="AEstats.html">intro</a><br>
				<a href="AEstatsRanking.html">dm rank</a><br>
				<a href="AEstatsTeam.html">team rank</a><br>
				<a href="AEstatsBuddy.html">buddy stats</a><br>
				<a href="AEstatsBestOfs.html">best of</a><br>
				<span class="selected">global</span><br>
				<div class="sub-menu">
					...<a href="#gInfo">Global</a> Info<br>
					...<a href="#gInv">Inventory</a> <br>
					...<a href="#gWeaponFrags">Weapon</a> related Frags/Deaths<br>
					...<a href="#gWeaponFDCorrelation">Correlation</a> Weapon Frags/Deaths<br>
					...<a href="#gSuicides">Suicides</a> & Overall Damage Types<br>
					...<a href="#gEvents">Events</a><br>
					...<a href="#gRoles">Roles</a> - The player classes<br>
					...<a href="#gRolesCorr">Role Correlation</a> - FDS<br>
					...N&deg; of Players Per <a href="#gPlPerMap">Map</a>
				</div>
				<a href="AEstatsRankMatrix.html">rank matrix</a><br>
				<a href="AEstatsDiffMatrix.html">diff matrix</a><br>
				<a href="AEstatsHelp.html">help</a><br>
				<a href="AEstatsFAQ.html">F.A.Q.</a><br>
				<a href="http://www.planetquake.com/aeons/aestats" target="_new">&aelig;s site</a>
			</div>

			<h1 class="server-title">
<!--AEstats serverName; -->
			</h1>

			<div class="notes">
				<span class="field">Ranking</span> last updated on
				<span class="kw">
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
				</span>
			</div>

			<h2>Global stats</h2>

      <p>An overview of what's been happening on this <span class="game-type">
<!--AEstats GameName; -->
				</span> server. This page shows all the data available in the meta log
				file, summed up in neat tables.</p>

			<dl class="sub-sections">
        <dt class="sub-section-title">
					<a name="gInfo"></a>
					Global info
				</dt>
        <dd class="sub-section-info">
					<p>Tells you when the data was last updated.  The number of "raw"
						server output lines that where parsed. Total number of players
						served, connects counted. Number of different player names.
						Number of Level changes, e.g. number of maps played.</p>

					<p>Furthermore the time/date of the first and last happening in
						the meta log file are shown. The <span class="kw">Up Time</span> is simply the
						time span between last and first happening (it might be negative
						if the logs feed to <code class="reference">preaes</code> were not on chronological
						order). The <span class="kw">Map Time</span> is the sum of the times, frags etc.
						actually occurred in maps.</p>
          <div align="center">
<!--AEstats TableMiscGlobalInfo;  -->
					</div>
				</dd>

        <dt class="sub-section-title">
					<a name="gInv"></a>
					Inventory
				</dt>
        <dd class="sub-section-info">
					<p>Summary of the Happenings on the server. The number of <span class="kw">frags</span>,
						<span class="kw">suicides</span> and <span class="kw">events</span>
						are shown, also as percentages.  The data presented here is a summary of all
						recorded happenings.</p>
<!--AEstats Tableinventory;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="gWeaponFrags"></a>
					Weapons-related frags/deaths
				</dt>
        <dd class="sub-section-info">
					<p>For each in-game Frag/(Death) there is information about the
						weapons that where involved. The frag weapon belongs to the
						Fragger, the Death weapon belongs to the Fragged. The histograms
						show the usage counts for each weapon. You will note that the
						overall number of frags/deaths is the same.</p>

					<p class="notes">For most games/mods there is no Death Weapon information
						available.</p>
<!--AEstats TableWeaponFDs;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="gWeaponFDCorrelation"></a>
					Weapon frag/death Correlation
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the fragger's weapon on the <span class="kw">x</span>-axis
						(lines), and the weapon the fragged where holding on the
						<span class="kw">y</span>-Axis (columns). This will let you interpret the
						most commonly used weapons. The numbers are color coded.</p>

						<p>How to read the table. Let's say you want to know what commonly
						the opponents (the fragged) by weapon N&deg; 5 have. Seek the weapon
						line number 5, and all the columns to the right will show the
						weapons the fragged where holding while being shot down by a
						N&deg; 5 weapon. If the intensity (counts) is high in line N&deg; 5
						you will have found a weapon that the fragged where carrying
						often. In most cases the fragged will only have weak weapons.</p>

						<p class="notes">Most games/mods do not provide information about the weapon
						the fragged player was holding. Therefore data might not be shown.</p>
</p>
<!--AEstats TableCorrelationWFDs;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="gSuicides"></a>
					Suicides/Damage types
				</dt>
        <dd class="sub-section-info">
					<p>The left part of the table shows a list of
						suicide related damage types <span class="game-type">
<!--AEstats GameName; -->
						</span> provides.</p>

					<p>In the right part, all in-game damage
						types are counted (not mattering if they have to do with
						suicides). The table splits them up and gives absolute and
						percentage values.</p>

          <p class="notes">Most games/mods do not provide extra damage type
						information.</p>
<!--AEstats TableSDT; Suicides / Overall Damage Types -->
				</dd>

        <dt class="sub-section-title">
					<a name="gEvents"></a>
					Events (non-frags)
				</dt>
        <dd class="sub-section-info">
					<p>In the following table you will find a list of events that <span class="game-type">
<!--AEstats GameName; -->
						</span> supports. The table shows absolute and percentage values.</p>

					<p>In the <code>AEsscore.cfg</code> the admin can assign
						<span class="kw">points</span> to each event, these are used to
						calculate the <span class="kw">scores</span> in the rightmost
						column. These points as also used on the team stats pages.</p>

          <p class="notes">Most games/mods do not provide extra event information.</p>
<!--AEstats TableEvents; -->
				</dd>

        <dt class="sub-section-title">
					<a name="gRoles"></a>
					Roles (player classes)
				</dt>
        <dd class="sub-section-info">
					<p>In the following table you will find a list of the player
						roles (classes) this <span class="game-type">
<!--AEstats GameName; -->
						</span> server supports. The table gives absolute and percentage values.</p>

					<p>In the right part of the table you will notice the columns
						<span class="kw">E</span>, <span class="kw">D</span>,
						<span class="kw">F</span>, <span class="kw">S</span>, these stand
						for <span class="kw">Event</span>, <span class="kw">Death</span>,
						<span class="kw">Frag</span> and <span class="kw">Suicide</span>
						counts in that specific role. The sums of <span class="kw">F</span> and
						<span class="kw">D</span> are of course the same. Since each frag scores
						one frag for the fragger and one death for the fragged.</p>

          <p class="notes">Most games/mods do not provide extra role information.</p>
<!--AEstats TableRoles; -->
				</dd>

        <dt class="sub-section-title">
					<a name="gRolesCorr"></a>
					Role frags/deaths Correlation
				</dt>
        <dd class="sub-section-info">
					<p>This matrix shows the player roles (classes). Role fragger's are
						on the <span class="kw">x</span>-axis (lines), and the role fragged are shown on
						the <span class="kw">y</span>-axis (columns). This will let you interpret what
						the most commonly used frag roles were. If both players
						were of the same class, then they are shown on the
						diagonal. The numbers are color coded.</p>

          <p class="notes">Most games/mods do not provide extra role
						information.</p>
<!--AEstats TableCorrelationRFDs;  -->
				</dd>

        <dt class="sub-section-title">
					<a name="gPlPerMap"></a>
					N&deg; of players per map/Maps &amp; times
				</dt>
        <dd class="sub-section-info">
					<p>Table 1: For the most recently played levels
						(up to a maximum of <span class="kw">
<!--AEstats MaxPlPerMap;  -->
						</span> set in <code>AEstats.cfg</code>), the number of players that
						where seen are shown in this histogram. These are absolute player
						counts, meaning that they <em>can</em> be higher than the max. player
						limit, since players can join/leave the map at any time.</p>

					<p>The <span class="kw">time</span>-axis runs from left to right, e.g. the
						right-most column is the last map played that day.</p>

          <p>Table 2: The table below the histogram shows the
						map names, when the games in those maps started, how long they
						where played, the <span class="kw">HPH</span> (Happenings per
						Hour &amp; Map), and the Happening counts (<span class="kw">happenings</span>
						= <span class="kw">frags</span> +
							<span class="kw">suicides</span> +
							<span class="kw">events</span>). The specific counts in <span class="kw">frags</span>,
						<span class="kw">suicides</span> and <span class="kw">events</span> are also shown.</p>

          <p>If the map times are less than
						<span class="kw">
<!--AEstats TimeBarrier;  -->
						</span>
						seconds (<code>TimeBarrier</code> set in <code>AEstats.cfg</code>) the per hour values
						are not calculated and set to zero (this removes meaningless high values).</p>

          <p class="notes">Some games/mods do not provide map names or time/date
						information.</p>
<!--AEstats TablePlPerMap;  -->
		        <br>
<!--AEstats TableMapNamesPlPerMap;  -->
				</dd>

			</dl>

		</div>

<!-- Copyright Info and Links -->
		<div class="footer">
			This page was generated with <a href="http://www.planetquake.com/aeons/aestats">&AElig;stats</a> (c) 1998-2001
			by <span class="product-name">&AElig;on</span>.<br>
			Using build
<!--AEstats AEstats_Version;-->
			<br>
<!--AEstats LastUpDated; Wednesday, September 16th 18:22 1998-->
			<br>Commercial use prohibited!
		</div>

	</body>
</html>

