@import "../core-values";

.basic-form
{
  fieldset
  {
    margin: 0px;
    margin-top: @standard_spacing;

    fieldset .group
    {
      margin-left: 0px;
    }
  }

  input, textarea, select
  {
    margin-left: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  input[type=checkbox],
  input[type=radio]
  {
    vertical-align: baseline;
    margin-left: 0px;
    margin-top: .5em;
  }

  .help
  {
    p:first-child
    {
      margin-top: 0px;
    }

    p:last-child
    {
      margin-bottom: 0px;
    }
  }

  .hint,
  > .form-row,
  fieldset .hint,
  fieldset > .form-row
  {
    display: block;
  }

  .form-row
  {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .group
  {
    display: block;
    margin: 3px 0px;

    + .group
    {
      clear: left;
    }

    .group
    {
      margin-left: 18px;
    }
  }

  .one-input
  {
    input:first-child
    {
      float: left;
    }

    label
    {
      display: block;
      margin-left: 18px;
    }

    label:first-child
    {
      float: left;
      display: inline-block;
      padding-right: @small_spacing;
      margin-left: 0px;
    }
  }
}

