@import "../core-values";
@import "../core-mixins";

.basic-form
{
  fieldset
  {
    border: none;
    margin: @standard_spacing 0;
    padding: 0;

    fieldset .group
    {
      margin-left: 0;
    }
  }

  input,
  textarea,
  select
  {
    margin-left: 0;
    .border-box();
  }

  textarea,
  select,
  input[type=password],
  input[type=text]
  {
    width: 100%;
  }

  input[type=checkbox],
  input[type=radio]
  {
    vertical-align: baseline;
    margin-left: 0;
    margin-top: .5em;
  }

  .help
  {
    p:first-child
    {
      margin-top: 0;
    }

    p:last-child
    {
      margin-bottom: 0;
    }
  }

  .hint,
  > .form-row,
  fieldset .hint,
  fieldset > .form-row
  {
    display: block;
  }

  .form-row
  {
    margin-top: @standard_spacing;
    margin-bottom: @standard_spacing;
  }

  .group
  {
    display: block;
    margin: 3px 0px;

    + .group
    {
      clear: left;
    }

    .group
    {
      margin-left: 18px;
    }
  }

  .one-input
  {
    input:first-child
    {
      float: left;
    }

    label
    {
      display: block;
      margin-left: 18px;
    }

    label:first-child
    {
      float: left;
      display: inline-block;
      padding-right: @small_spacing;
      margin-left: 0px;
    }
  }

  .two-inputs
  {
    input,
    select,
    textarea
    {
      width: 50%;
    }
  }

  .three-inputs
  {
    input,
    select,
    textarea
    {
      width: 33%;
    }
  }

  .four-inputs
  {
    input,
    select,
    textarea
    {
      width: 25%;
    }
  }
}

