@import "../core-values";
@import "../core-mixins";
@import "form-values";

.style-controls
{
  input,
  button,
  select,
  textarea
  {
    margin: 0;
  }

  input[type="radio"],
  input[type="checkbox"]
  {
    vertical-align: middle;
  }

  button,
  input[type=submit],
  input[type=button],
  input[type=text],
  input[type=password],
  select,
  textarea
  {
    font-family: inherit;
    font-size: inherit;
  }

  input[type=text],
  input[type=password],
  select,
  textarea
  {
    line-height: inherit;
  }
}

.button,
.style-controls button
{
  .border-box();
  display: inline-block;
  text-decoration: none;
  min-width: @minimum_button_width;
  min-height: @minimum_button_height;
  padding: .4em;
  cursor: pointer;
  background-color: #EEE;
  border: @hairline_border_width solid @standard_border_color;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: @standard_border_radius;
  line-height: normal;
}

a.button:link, a.button:visited
{
  color: #333;
  text-decoration: none;
}

.button:hover:not(.disabled):not(.selected),
.style-controls button:hover:not(.disabled):not(.selected)
{
  border-color: darkgray;
  background-color: #DDDDDD;
}

.button + .button,
button + button,
.button + button,
button + .button,
input + .button,
input + button
{
  margin-left: @button_spacing;
}

.button.disabled,
.style-controls button.disabled
{
  color: #AAA;
  border-color: #DDD;
  cursor: default;
}

.button.selected,
.style-controls button.selected
{
  cursor: default;
  background-color: gray;
  border-color: #666;
  color: white;
}

.button .icon,
.style-controls button .icon
{
  display: inline-block;
  .border-box();
}

.basic-form
{
  fieldset
  {
    border: none;
    margin: @standard_spacing 0;
    padding: 0;

    fieldset .group
    {
      margin-left: 0;
    }
  }

  input,
  textarea,
  select
  {
    margin-left: 0;
    .border-box();
  }

  textarea,
  select,
  input[type=password],
  input[type=text]
  {
    width: 100%;
  }

  input[type=checkbox],
  input[type=radio]
  {
    vertical-align: baseline;
    margin-left: 0;
    margin-top: .5em;
  }

  .help
  {
    p:first-child
    {
      margin-top: 0;
    }

    p:last-child
    {
      margin-bottom: 0;
    }
  }

  .hint,
  > .form-row,
  fieldset .hint,
  fieldset > .form-row
  {
    display: block;
  }

  .form-row
  {
    margin-top: @standard_spacing;
    margin-bottom: @standard_spacing;
  }

  .group
  {
    display: block;
    margin: 3px 0px;

    + .group
    {
      clear: left;
    }

    .group
    {
      margin-left: 18px;
    }
  }

  .one-input
  {
    input:first-child
    {
      float: left;
    }

    label
    {
      display: block;
      margin-left: 18px;

      .description
      {
        display: block;
      }
    }

    label:first-child
    {
      float: left;
      display: inline-block;
      padding-right: @small_spacing;
      margin-left: 0px;
    }
  }

  .two-inputs
  {
    input,
    select,
    textarea
    {
      width: 50%;
    }
  }

  .three-inputs
  {
    input,
    select,
    textarea
    {
      width: 33%;
    }
  }

  .four-inputs
  {
    input,
    select,
    textarea
    {
      width: 25%;
    }
  }

  .browse
  {
    input
    {
      width: 200px;
    }
  }

  .help
  {
    width: @label-area-width;
    height: auto;
    margin-right: @standard_spacing;
  }
}

