.basic-form fieldset fieldset,
.basic-form .hint,
.basic-form fieldset .group,
.basic-form fieldset legend
{
  margin-left: 0px;
}

.basic-form fieldset
{
  margin-left: 200px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding-left: 0px;
}

.basic-form > p
{
  /* Applies to field rows appearing directly in a form (not in a fieldset). */

  margin-left: 200px;
}

.basic-form label:first-child,
.basic-form label:first-child,
.basic-form .one-input label:first-child
{
  margin-left: -210px;
  text-align: right;
}
