@import "../core-values";
@import "form-values";

.basic-form.ltr
{
  fieldset
  {
    margin-left: @label-area-width;

    fieldset
    {
      margin-left: 0;
    }
  }

  .hint
  {
    margin-left: 0;
  }

  > p
  {
    /* Applies to form rows appearing directly in a form (not in a fieldset). */

    margin-left: @label-area-width;
  }

  > .form-row,
  > .group,
  > .hint
  {
    margin-left: @label-area-width;
  }

  .form-row .form-row
  {
    margin-left: 0;
  }

  .form-row
  {
    button:first-child
    {
      margin-left: -@standard_border_radius - @hairline_border_width;
    }
  }

  label:first-child
  {
    float: left;
    width: @label-area-width;
  }

  .help
  {
    float: right;
    width: 180px;
    height: auto;
    margin-right: 12px;
  }

  label:first-child,
  .one-input label:first-child
  {
    margin-left: -@label-area-width - @standard_spacing;
    text-align: right;
  }
}