@import "../core-values";
@import "form-values";

.basic-form.ltr
{
  width: 800px;

  input[type=text],
  input[type=password],
  input[type=file],
  textarea,
  select,
  .hint,
  .group,
  .buttons-bottom,
  .buttons-top,
  .buttons-middle
  {
//    width: 300px;
  }

  .two-inputs
  {
    input,
    select,
    textarea
    {
      width: 150px;
    }
  }

  .three-inputs
  {
    input,
    select,
    textarea
    {
      width: 100px;
    }
  }

  .form-row,
  .group,
  .hint
  {
    margin-left: @label-area-width;
  }

  .form-row .form-row
  {
    margin-left: 0;
  }

  label:first-child
  {
    float: left;
    width: @label-area-width;
  }

  .help
  {
    float: right;
    width: 180px;
    height: auto;
    margin-right: 12px;
  }
}