@import "../core-values";
@import "form-values";

.basic-form.ltr.right
{
  fieldset
  {
    border: none;
    padding-left: 0px;
    margin-left: @label-area-width;

    fieldset,
    .group
    {
      margin-left: 0;
    }
  }

  .hint
  {
    margin-left: 0;
  }

  > p
  {
    /* Applies to form rows appearing directly in a form (not in a fieldset). */

    margin-left: @label-area-width;
  }

  label:first-child,
  .one-input label:first-child
  {
    margin-left: -@label-area-width - @standard_spacing;
    text-align: right;
  }
}
