.basic-form fieldset {
  border-top: 1px dotted #c2c2c2;
}
.basic-form fieldset legend {
  padding: 2px 4px;
  margin-left: -5px;
}
.basic-form input[type=text],
.basic-form input[type=password],
.basic-form input[type=file],
.basic-form textarea {
  margin-top: -0.3em;
}
.basic-form .help {
  padding: 5px;
  padding-left: 25px;
  background-image: url(../../../icons/webcore_png/indicators/info_16px.png);
  background-repeat: no-repeat;
  background-position: 5px 8px;
  border: 1px solid #AAF;
  background-color: #DDEEFF;
  color: #666666;
}
.basic-form .hint {
  font-size: 85%;
  font-style: italic;
}
.basic-form label .description {
  display: block;
  font-style: italic;
}
.basic-form textarea {
  height: 85px;
}
.basic-form .required label:first-child {
  font-weight: bold;
}
.basic-form .group {
  line-height: 135%;
}
.basic-form .buttons-top {
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}
.basic-form .buttons-middle {
  border: 1px solid silver;
  border-width: 1px 0;
  padding: 10px 0;
}
.basic-form .buttons-bottom {
  border-top: 1px solid silver;
  padding-top: 10px;
}
