@import "../core-values";

.basic-form
{
  fieldset
  {
    border-top: @hairline_border_width dotted @control_border_color;

    legend
    {
      padding: @standard_border_radius / 2 @standard_border_radius;
      margin-left: -@standard_border_radius - @hairline_border_width;
    }
  }

  input[type=text],
  input[type=password],
  input[type=file],
  textarea
  {
    margin-top: -.3em;
  }

  .help
  {
    padding: @small_spacing;
    padding-left: 25px;
    background-image: url(../../../icons/webcore_png/indicators/info_16px.png);
    background-repeat: no-repeat;
    background-position: 5px 8px;
    border: 1px solid #AAF;
    background-color: #DDEEFF;
    color: #666666;
  }

  .hint
  {
    font-size: 85%;
    font-style: italic;
  }

  label
  {
    .title
    {

    }

    .description
    {
      display: block;
      font-style: italic;
    }
  }

  textarea
  {
    height: 85px;
  }

  label:first-child:after
  {
    //  content: ":";
  }

  .required label:first-child
  {
    font-weight: bold;
  }

  .group
  {
    line-height: 135%;
  }

  .buttons-top
  {
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
  }

  .buttons-middle
  {
    border: 1px solid silver;
    border-width: 1px 0;
    padding: 10px 0;
  }

  .buttons-bottom
  {
    border-top: 1px solid silver;
    padding-top: 10px;
  }
}