.basic-form fieldset fieldset,
.basic-form .hint,
.basic-form fieldset .group,
.basic-form fieldset legend {
  margin-left: 0px;
}
.basic-form fieldset {
  border-left-width: 0px;
  padding-left: 0px;
}
