.basic-form.top
{
  .two-inputs
  {
    input,
    select,
    textarea
    {
      width: 50%;
    }
  }

  label:first-child
  {
    display: block;
  }

  .help
  {
    float: right;
    width: 180px;
    height: auto;
    margin-right: 12px;
  }

  fieldset
  {
    padding-right: 0px;
    margin-right: 0px;

    fieldset
    {
      border-right-width: 0px;
    }
  }
}