.basic-form.top.right
{
  fieldset fieldset,
  .hint,
  fieldset .group,
  fieldset legend
  {
    margin-left: 0px;
  }

  fieldset
  {
    border-left-width: 0px;
    padding-left: 0px;
  }
}