.basic-form.top
{
  width: 600px;

  input[type=text],
  input[type=password],
  input[type=file],
  textarea,
  select,
  .hint,
  .group
  {
    width: 300px;
  }

  .two-inputs input,
  .two-inputs select,
  .two-inputs textarea
  {
    width: 145px;
  }

  .three-inputs input,
  .three-inputs select,
  .three-inputs textarea
  {
    width: 95px;
  }

  label:first-child
  {
    display: block;
  }

  .help
  {
    float: right;
    width: 180px;
    height: auto;
    margin-right: 12px;
  }

  fieldset
  {
    padding-right: 0px;
    margin-right: 0px;
  }

  fieldset fieldset
  {
    border-right-width: 0px;
  }
}