# A trivial installation puts the webcore and application libraries
# in a subfolder beneath the application folder. To prevent browsing
# of the PHP code, you can move it to another location outside of the
# document root and put that path into the include path

php_value include_path "."

# This prevents query and form arguments from being automatically
# registered in the global namespace. It's a security risk to use
# these globals and the WebCore does not make use of them

php_flag register_globals off

# Magic quotes are not needed since the WebCore takes care of all
# database queries and updating with the query and forms libraries

php_flag magic_quotes_gpc off

# earthli uses the @ operator to suppress errors and log them
# using php_errormsg. Turn this on to make sure the error message
# is not empty.

php_flag track_errors on

# for testing with all warnings and notices (the WebCore should have none)

#php_value error_reporting 255

# Other interesting values to set (for uploading files)

#php_value post_max_size 5M
#php_value upload_max_filesize 5M


